<fieldset>


    <div class="row">
        <div class="col-lg-12">

            <!-- PANEL 1-->
            <div class="panel-group payments-method" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Choose sample .FASTA dataset
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body gray-bg">


                            <div class="row">
                                <div class="col-sm-4 m-b-xs" ng-switch="newc.species">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <div ng-switch-when="ecoli">
                                                <h4><strong>Escherichia coli (E.Coli)</strong></h4>

                                            </div>
                                            <div ng-switch-when="fly">
                                                <h4><strong>Drosophila melanogaster</strong></h4>
                                            </div>
                                            <div ng-switch-when="yeast">
                                                <h4><strong>Saccharomyces cerevisiae</strong></h4>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-sm-4">
                                                <div class="text-center">
                                                    <div ng-switch-when="ecoli">
                                                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a32.jpg">
                                                        <div class="m-t-xs font-bold">Bacterium</div>
                                                    </div>
                                                    <div ng-switch-when="fly">
                                                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a33.jpg">
                                                        <div class="m-t-xs font-bold">Fruit fly</div>
                                                    </div>
                                                    <div ng-switch-when="yeast">
                                                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a34.jpg">
                                                        <div class="m-t-xs font-bold">Yeast</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">

                                                <div ng-switch-when="ecoli">
                                                    <p><strong>Escherichia coli (E.Coli)</strong><br/>&nbsp;</p>
                                                    <address>
                                                        <i>Technical info:</i>
                                                        <ul>
                                                            <li>Platform: Illumina</li>
                                                            <li>Sequencing center: BGI</li>
                                                            <li>Coverage: WGS (low coverage)</li>
                                                        </ul>
                                                    </address>
                                                </div>
                                                <div ng-switch-when="fly">
                                                    <p><strong>Drosophila melanogaster </strong><br/>&nbsp;</p>
                                                    <address>
                                                        <i>Technical info:</i>
                                                        <ul>
                                                            <li>Platform: Illumina</li>
                                                            <li>Sequencing center: BGI</li>
                                                            <li>Coverage: WGS (low coverage)</li>
                                                        </ul>
                                                    </address>
                                                </div>
                                                <div ng-switch-when="yeast">
                                                    <address>
                                                        <i>Technical info:</i>
                                                        <ul>
                                                            <li>Platform: Illumina</li>
                                                            <li>Sequencing center: BGI</li>
                                                            <li>Coverage: WGS (low coverage)</li>
                                                        </ul>
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer white-bg">
                                            <div>
                                                <label><input icheck type="radio" name="sample" ng-model="newc.sample"
                                                              value="sample1"></input>
                                                    Choose this sample dataset</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-8 m-b-xs" ng-switch="newc.species">
                                    <div class="panel panel-warning">

                                        <div class="panel-body">
                                            <div class="col-sm-12">

                                                <div ng-switch-when="ecoli">
                                                    <p><strong>Escherichia coli (E.Coli)</strong><br/>&nbsp;</p>
                                                    <address>
                                                        <i>Technical info:</i>
                                                        <ul>
                                                            <li>Platform: Illumina</li>
                                                            <li>Sequencing center: BGI</li>
                                                            <li>Coverage: WGS (low coverage)</li>
                                                        </ul>
                                                    </address>
                                                </div>
                                                <div ng-switch-when="fly">
                                                    <p><strong>Drosophila melanogaster </strong><br/>&nbsp;</p>
                                                    <address>
                                                        <i>Technical info:</i>
                                                        <ul>
                                                            <li>Platform: Illumina</li>
                                                            <li>Sequencing center: BGI</li>
                                                            <li>Coverage: WGS (low coverage)</li>
                                                        </ul>
                                                    </address>
                                                </div>
                                                <div ng-switch-when="yeast">
                                                    <p><strong>Some interesting facts about this species: </strong></p>
                                                    <ul>
                                                        <li>Yeast genome was the first eukaryotic genome to be completely sequenced. 
                                                            The genome sequence was released to the public domain on April 24, 1996. </li>
                                                        <li>Yeast reproduces by mitosis as diploid cells when nutrients are abundant. 
                                                            However, when starved, these cells undergo meiosis to form haploid spores.</li>
                                                        <li>Only about 5,800 of the 6,275 yeast genes are believed to be functional,
                                                            and 31% of yeast genes have homologs in the human genome. </li>
                                                    </ul>
                                                    <p><strong>Databases with data on yeast genome: </strong></p>
                                                    <ul>
                                                        <li>Saccharomyces Genome Database</li>
                                                        <li>Munich Information Center for Protein Sequences (MIPS)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


                <!-- PANEL 2-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Upload a new dataset
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body gray-bg">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Forward DNA strand</h5>
                                        </div>
                                        <div class="ibox-content" id="">
                                            <form action="#">
                                                <div class="ngs_dz_noborder" ngf-drop="newc.upload(0,$file)" ngf-select="newc.upload(0,$file)">
                                                    <div ng-if="(!newc.job.files[0])" class="dz-message m-t-lg m-b-lg">

                                                        <h1>Drop file here</h1>

                                                    </div>
                                                    <div ng-if="((newc.job.files[0]) && (newc.job.files[0].status === 'uploading'))">

                                                        <h1>Uploading file...</h1>
                                                        <div class="progress-striped active progress">
                                                            <div class="progress-bar progress-bar-warning" role="progressbar" ng-style="{width: (newc.job.files[0].progress < 100 ? newc.job.files[0].progress : 100) + '%'}">
                                                            </div>
                                                        </div>
                                                        {{newc.job.files[0].current| filesize:2}} / {{newc.job.files[0].total| filesize:2}} ({{newc.job.files[0].progress}})%
                                                    </div>

                                                    <div ng-if="(newc.job.files[0]) && (newc.job.files[0].status !== 'uploading')">                                                            
                                                        <p>File size: {{newc.job.files[0].filesize| filesize:0}}</p>
                                                        <p>Uploaded: {{newc.job.files[0].finished_at| date:'medium'}}</p>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Reverse DNA strand</h5>

                                        </div>
                                        <div class="ibox-content" id="">
                                            <div class="ngs_dropzone">
                                                <form action="#">
                                                    <div class="ngs_dz_noborder" ngf-drop="newc.upload(1,$file)" ngf-select="newc.upload(1,$file)">
                                                        <div ng-if="(!newc.job.files[1])" class="dz-message m-t-lg m-b-lg">

                                                            <h1>Drop file here</h1>

                                                        </div>
                                                        <div ng-if="((newc.job.files[1]) && (newc.job.files[1].status === 'uploading'))">

                                                            <h1>Uploading file...</h1>
                                                            <div class="progress-striped active progress">
                                                                <div class="progress-bar progress-bar-warning" role="progressbar" ng-style="{width: (newc.job.files[1].progress < 100 ? newc.job.files[1].progress : 100) + '%'}">
                                                                </div>
                                                            </div>
                                                            {{newc.job.files[1].current| filesize:2}} / {{newc.job.files[1].total| filesize:2}} ({{newc.job.files[1].progress}})%
                                                        </div>

                                                        <div ng-if="(newc.job.files[1]) && (newc.job.files[1].status !== 'uploading')">                                                            
                                                            <p>File size: {{newc.job.files[1].filesize| filesize:0}}</p>
                                                            <p>Uploaded: {{newc.job.files[1].finished_at| date:'medium'}}</p>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 " ng-switch="newc.species">
                                    <p>
                                        If you want to upload your own reads, you need to have
                                        two separate .fasta files: reads from the forward strand and from the reverse strand.
                                        In this case, we can apply paired-ended alignment algorithm to your data.
                                    </p>
                                    <p>
                                        <strong>We strongly advise you to take datasets with good coverage.
                                            So, for instance, your input file for de novo assembly should be around 1-2 GB
                                            for E.Coli to produce sufficiently
                                            good output. Also, please make sure that your reads are properly trimmed
                                            (in case they are not, use Trimmomatic or any other similar software).
                                        </strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- PANEL 3-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Use data from my file storage
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body gray-bg">

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Forward DNA strand</h5>
                                        </div>
                                        <div class="ibox-content" id="">
                                            <form action="#">
                                                <div class="ngs_dz_noborder" ng-click="newc.chooseFile(0)">
                                                    <div ng-if="(!newc.job.files[0])" class="dz-message m-t-lg m-b-lg">

                                                        <h1>Click to choose file</h1>

                                                    </div>
                                                    <div ng-if="((newc.job.files[0]) && (newc.job.files[0].status === 'uploading'))">

                                                        <h1>Uploading file...</h1>
                                                        <div class="progress-striped active progress">
                                                            <div class="progress-bar progress-bar-warning" role="progressbar" ng-style="{width: (newc.job.files[0].progress < 100 ? newc.job.files[0].progress : 100) + '%'}">
                                                            </div>
                                                        </div>
                                                        {{newc.job.files[0].current| filesize:2}} / {{newc.job.files[0].total| filesize:2}} ({{newc.job.files[0].progress}})%
                                                    </div>

                                                    <div ng-if="(newc.job.files[0])">
                                                        <p>File size: {{newc.job.files[0].filesize| filesize:0}}</p>
                                                        <p>Uploaded: {{newc.job.files[0].finished_at| date:'medium'}}</p>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Reverse DNA strand</h5>

                                        </div>
                                        <div class="ibox-content" id="">
                                            <div class="ngs_dropzone">
                                                <form action="#">
                                                    <div class="ngs_dz_noborder" ng-click="newc.chooseFile(1)">
                                                        <div ng-if="(!newc.job.files[1])" class="dz-message m-t-lg m-b-lg">

                                                            <h1>Click to choose file</h1>

                                                        </div>
                                                        <div ng-if="((newc.job.files[1]) && (newc.job.files[1].status === 'uploading'))">

                                                            <h1>Uploading file...</h1>
                                                            <div class="progress-striped active progress">
                                                                <div class="progress-bar progress-bar-warning" role="progressbar" ng-style="{width: (newc.job.files[1].progress < 100 ? newc.job.files[1].progress : 100) + '%'}">
                                                                </div>
                                                            </div>
                                                            {{newc.job.files[1].current| filesize:2}} / {{newc.job.files[1].total| filesize:2}} ({{newc.job.files[1].progress}})%
                                                        </div>

                                                        <div ng-if="(newc.job.files[1])">
                                                            <p>File size: {{newc.job.files[1].filesize| filesize:0}}</p>
                                                            <p>Uploaded: {{newc.job.files[1].finished_at| date:'medium'}}</p>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                


                            </div>



                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>






    <a ng-click="newc.submit()" class="btn btn-primary">Align my reads to the genome</a>
</fieldset>