<div class="wrapper wrapper-content">
    <div class="row" ng-init="vm.getNumberOfMessages()">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" ui-sref="mailbox.inbox">Back to inbox</a>

                        <div class="space-25"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a ui-sref="mailbox.inbox"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right">{{vm.numberOfInbox}}</span> </a></li>
                            <li><a ui-sref="mailbox.drafts"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">{{vm.numberOfDraft}}</span></a></li>
                            <li><a ui-sref="mailbox.sent"> <i class="fa fa-envelope-o"></i> Sent<span class="label label-info pull-right">{{vm.numberOfSent}}</span></a></li>
                            <li><a ui-sref="mailbox.trash"> <i class="fa fa-trash-o"></i> Trash</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="mail-box-header">
                <div class="pull-right tooltip-demo">
                    <a ng-click="vm.saveAsDraft()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Save as draft</a>
                    <a ui-sref="mailbox.inbox" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
                </div>
                <h2>
                    Compose a message
                </h2>
            </div>
            <div class="mail-box">
                <form class="form-horizontal" method="get">

                    <div class="mail-body">


                        <div class="form-group"><label class="col-sm-2 control-label">To:</label>

                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="vm.message.to" value="support@ngspipeline.com"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Subject:</label>

                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="vm.message.subject" value=""></div>
                        </div>                      
                    </div>

                    <div class="mail-text h-200">

                        <div class="form-group"><label class="col-sm-2 control-label">Message:</label>

                            <div class="col-sm-10">
                                <textarea class="form-control message-input-mail" name="message" 
                                          placeholder="Enter message text" ng-model="vm.message.content"></textarea>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="mail-body text-right tooltip-demo">
                        <button ng-click="vm.submitMessage()" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send" ><i class="fa fa-reply"></i> Send</button>
                        <a ui-sref="mailbox.inbox" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
                        <button ng-click="vm.saveAsDraft()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Save as draft"><i class="fa fa-pencil"></i> Save as draft</button>
                    </div>
                </form>
                <div class="clearfix"></div>


            </div>
        </div>
    </div>
</div>
