<div class="wrapper wrapper-content" ng-controller="mailboxController as vm">
    <div class="row" ng-init="vm.getNumberOfMessages()">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" ui-sref="mailbox.inbox">Back to inbox</a>

                        <div class="space-25"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a ui-sref="mailbox.inbox"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right">{{vm.numberOfInbox}}</span> </a></li>
                            <li><a ui-sref="mailbox.drafts"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">{{vm.numberOfDraft}}</span></a></li>
                            <li><a ui-sref="mailbox.sent"> <i class="fa fa-envelope-o"></i> Sent<span class="label label-info pull-right">{{vm.numberOfSent}}</span></a></li>
                            <li><a ui-sref="mailbox.trash"> <i class="fa fa-trash-o"></i> Trash</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">
                <div class="pull-right tooltip-demo">
                    <a ui-sref="mailbox.mail_compose" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-reply"></i> Reply</a>
                    <a ui-sref="mailbox.inbox" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> Remove </a>
                </div>
                <h2>
                    View Message
                </h2>

                <div class="mail-tools tooltip-demo m-t-md">
                    <h3>
                        <span class="font-noraml">Subject: {{md.message.subject}} </span>
                    </h3>
                    <h5>
                        <span class="pull-right font-noraml">10:15AM 02 FEB 2014</span>
                        <span class="font-noraml">From: </span>alex.smith@corporation.com
                    </h5>
                </div>
            </div>
            <div class="mail-box">


                <div class="mail-body">
                    <p>
                        {{md.message.content}}
                    </p>

                    
                </div>
                                <div class="mail-text h-200">

                                <div class="form-group">

                                    <textarea class="form-control message-input-mail" name="message" 
                                              placeholder="Reply"></textarea>
                                </div>
                    
                    <div class="clearfix"></div>
                </div>
                <div class="mail-body text-right tooltip-demo">
                    <a ui-sref="mailbox.mail_compose" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-reply"></i> Reply</a>
                    <a ui-sref="mailbox.inbox" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> Remove </a>
                </div>
                <div class="clearfix"></div>


            </div>
        </div>
    </div>
</div>
