<div class="wrapper wrapper-content" ng-init="vm.getMessagesForInbox()">
    <div class="row" ng-init="vm.getNumberOfMessages()">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" ui-sref="mailbox.mail_compose">Send a message</a>

                        <div class="space-25"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a ui-sref="mailbox.inbox"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right">{{vm.numberOfInbox}}</span> </a></li>
                            <li><a ui-sref="mailbox.drafts"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">{{vm.numberOfDraft}}</span></a></li>
                            <li><a ui-sref="mailbox.sent"> <i class="fa fa-envelope-o"></i><span class="label label-info pull-right">{{vm.numberOfSent}}</span> Sent</a></li>
                            <li><a ui-sref="mailbox.trash"> <i class="fa fa-trash-o"></i> Trash</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header" >
                <h2>
                    Inbox ({{vm.numberOfInbox}})
                </h2>

                <div class="mail-tools tooltip-demo m-t-md">

                    <button ng-click="vm.getMessagesForInbox()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh"><i class="fa fa-refresh"></i> Refresh</button>
                    <button ng-click="vm.markAsRead()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i></button>
                    <button ng-click="vm.moveToTrash('inbox')" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o"></i></button>

                </div>
            </div>
            <div class="mail-box" >
                <table class="table table-hover table-mail" >
                    <thead>
                    <th></th>
                    <th>From</th>
                    <th>Subject</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                        <tr ng-attr-class="{{x.read && 'read' || 'unread'}}" ng-repeat="x in vm.messages">
                            <td class="check-mail">
                                <input icheck type="checkbox" ng-model="x.selected" ng-click="x.selected = true">
                            </td>
                            <td class="mail-ontact"><a ng-click="vm.getMessageDetails(x._id)">{{x.from}}</a></td>
                            <td class="mail-subject"><a ng-click="vm.getMessageDetails(x._id)">{{x.subject}}</a></td>
                            <td class="text-right mail-date">{{x.sentTime| date:'MMM d, yyyy'}}</td>
                        </tr>  
                    </tbody>

                </table>
                         <div class="ibox-content" ng-if="vm.numberOfInbox==0" align="center">Your inbox is empty</div>
      


            </div>
        </div>
    </div>
</div>
