<div class="wrapper wrapper-content" ng-init="vm.init()">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" ui-sref="mailbox.inbox">Back to inbox</a>

                        <div class="space-25"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a ui-sref="mailbox.inbox"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right">{{vm.numberOfInbox}}</span> </a></li>
                            <li><a ui-sref="mailbox.drafts"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">{{vm.numberOfDraft}}</span></a></li>
                            <li><a ui-sref="mailbox.sent"> <i class="fa fa-envelope-o"></i> Sent<span class="label label-info pull-right">{{vm.numberOfSent}}</span></a></li>
                            <li><a ui-sref="mailbox.trash"> <i class="fa fa-trash-o"></i> Trash</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">
                <div class="pull-right tooltip-demo">
                    <a ui-sref="mailbox.mail_compose" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-reply"></i> Reply</a>
                    <a ui-sref="mailbox.inbox" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> Remove </a>
                </div>
                <h2>
                    View Message
                </h2>

                <div class="mail-tools tooltip-demo m-t-md">
                    <h3>
                        <span class="font-noraml">Subject: {{vm.currentMessage.subject}} </span>
                    </h3>
                    <h5>
                        <span class="pull-right font-noraml">{{vm.currentMessage.sentTime | date:'MMM d, yyyy'}}</span>
                        <span class="font-noraml">From: {{vm.currentMessage.from}}</span>
                        
                    </h5>
                    <h5>
                        <span class="font-noraml">To: {{vm.currentMessage.to}}</span>         
                    </h5>
                </div>
            </div>
            <div class="mail-box">


                <div class="mail-body">
                    <p>
                        {{vm.currentMessage.content}}
                    </p>

                    
                </div>                              
                <div class="mail-body text-right tooltip-demo">
                    <button ng-click="vm.reply(vm.currentMessage.from, vm.currentMessage.content)"
                       class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" 
                       title="Reply"><i class="fa fa-reply"></i> Reply</button>
                    <a ui-sref="mailbox.inbox" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> Remove </a>
                </div>
                <div class="clearfix"></div>


            </div>
        </div>
    </div>
</div>
