<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Perform data analysis</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Perform data analysis</a>
            </li>
            <li class="active">
                <strong>DNA resequencing</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create and run a new job </h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4 m-b-xs"><a ng-click="homec.createJob('homo')">
                                <div class="contact-box">
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">

                                            <div class="m-t-xs font-bold">Option 1</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3><strong>Homo sapiens</strong></h3>

                                        <p>Version: GRC37/hg19</p>
                                        <address>
                                            <b>Genome: </b> 3.5 mln bases<br>
                                            <b>Chromosomes: </b> 23 pairs<br>
                                            <b>Complexity: </b> high
                                        </address>

                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 m-b-xs"><a ng-click="homec.createJob('mus')">
                                <div class="contact-box">
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a9.jpg">

                                            <div class="m-t-xs font-bold">Option 2</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3><strong>Mus musculus</strong></h3>

                                        <p>Version: GRCm38.p4</p>
                                        <address>
                                            <b>Genome: </b> 3.4 mln bases<br>
                                            <b>Chromosomes: </b> 21 pairs<br>
                                            <b>Complexity: </b> high
                                        </address>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 m-b-xs"><a ng-click="homec.createJob('canis')">
                                <div class="contact-box">
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a10.jpg">

                                            <div class="m-t-xs font-bold">Option 3</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3><strong>Canis lupus</strong></h3>

                                        <p>Version: CanFam3.1</p>
                                        <address>
                                            <b>Genome: </b> 2.3 mln bases<br>
                                            <b>Chromosomes: </b> 37 pairs<br>
                                            <b>Complexity: </b> high
                                        </address>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>DNA resequencing: job history </h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-1 m-b-xs">
                            <div class="btn-group" uib-dropdown>
                                <button type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                                    Action <span class="caret"></span>
                                </button>
                                <ul role="menu" uib-dropdown-menu="">
                                    <li><a href="">Delete selected pipeline run</a></li>
                                    <li><a href="">Relaunch selected pipeline run</a></li>
                                </ul>
                            </div>   
                        </div>
                        <div class="col-sm-4 m-b-xs">
                            <div data-toggle="buttons" class="btn-group">
                                <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> All </label>
                                <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Completed </label>
                                <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Running </label>
                                <label class="btn btn-sm btn-white"> <input type="radio" id="option4" name="options"> Failed </label>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th></th>
                                    <th>Date</th>
                                    <th>Species</th>
                                    <th>Completed</th>
                                    <th>Input files</th>
                                    <th>Output files</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input icheck type="checkbox" ng-model="homec.checkOne"></td>
                                    <td>Jul 14, 2013</td>
                                    <td>Homo sapiens hg19
                                    </td>
                                    <td align='center'><a href=""><i class="fa fa-check text-navy"></i></a></td>
                                    <td>
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>File1_with_long_name_R1.fasta
                                                    </td>
                                                    <td align='right'>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            Download 
                                                        </button>
                                                    </td></tr>
                                                <tr><td>File1_with_long_name_R2.fasta </td>
                                                    <td align='right'>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            Download 
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>

                                    <td>
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr><td>
                                                        <p>File1_with_long_name_R1.bam </p></td>
                                                    <td align='right'>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            Download 
                                                        </button>
                                                    </td>
                                                </tr>                                     
                                                <tr>
                                                    <td> File1_with_long_name.vcf </td>
                                                    <td align='right'>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            Download 
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Annotated table.xls</td>
                                                    <td align='right'>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            Download 
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input icheck type="checkbox" ng-model="homec.unCheck1"></td>
                                    <td>Jul 16, 2013</td>
                                    <td>Mus musculus</td>
                                    <td align='center'><a href=""><i class="fa fa-cogs text-navy"></i></a></td>
                                    <td>
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>Sample data 1</td>
                                                    <td align='right'>
                                                        <button type="button" class="btn btn-info btn-xs">
                                                            Download 
                                                        </button>
                                                    </td></tr>
                                            </tbody>
                                        </table>
                                    </td>

                                    <td>
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr><td>
                                                        File1_with_long_name.bam </td>
                                                    <td align='right'>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            Download 
                                                        </button>
                                                    </td>
                                                </tr>                                     
                                                <tr>
                                                    <td> File1_with_long_name.vcf </td>
                                                    <td align='right'>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            Download 
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Annotated table.xls</td>
                                                    <td align='right'>
                                                        <button type="button" class="btn btn-primary btn-xs">
                                                            Download 
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>                              
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
