<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Perform data analysis</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Perform data analysis</a>
            </li>
            <li class="active">
                <strong>DNA resequencing</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class='ibox-title'><h2>Get your data ready for analysis in 3 easy steps</h2></div>
                <div class="ibox-content wizard">

                    <div class="steps clearfix">
                        <ul>
                            <li ui-sref-active="current">

                                <a ui-sref="pipelines.dna_reseq_new.step1({job: newc.job})" class="btn-default">
                                    <strong>1. Upload data </strong>
                               
                                </a>
                            </li>
                            <li ui-sref-active="current">
                                <a ui-sref="pipelines.dna_reseq_new.step2({job: newc.job})" class="btn-default"><strong>2. Data processing </strong></a>
                            </li>
                            <li ui-sref-active="current">
                                <a ui-sref="pipelines.dna_reseq_new.step3({job: newc.job})" class="btn-default"><strong>3. Get your output files </strong></a>
                            </li>
                        </ul>
                    </div>
                    <div class="wizard">
                        <div class="content">

                            <form name="signupForm" ng-submit="newc.processForm()" class="p-lg">

                                <!-- our nested state views will be injected here -->
                                <div id="form-views" ui-view></div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
