<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>File manager</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Manage files</a>
            </li>
            <li class="active">
                <strong>File manager</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="flotChartCtrl as charts">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>My storage for input data 
                        <small> (the files below can be later selected in any pipeline)</small>
                    </h5>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny">
                        <thead>
                            <tr>

                                <th>File name</th>
                                <th>File size</th>

                                <th>Upload date</th>  
                                <th></th>
                                <th class="text-right"></th>



                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in vm.files">
                                <td>{{x.name}}</td>
                                <td>{{x.filesize | filesize: 0}}</td>
                                <!--<td>{{x.finished_at}}</td>-->
                                <td>
                                    <div ng-if="x.status === 'uploading'" class="progress-striped active progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" ng-style="{width: x.progress + '%'}" ></div>                                                    
                                    </div>
                                    
                                    <div ng-if="x.status === 'failed'" class="progress-striped progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" ng-style="{width: x.progress + '%'}" ></div>
                                    </div>
                                    
                                    <div ng-if="x.status === 'ok'" class="progress-striped progress">
                                        <div class="progress-bar progress-bar-navy-light" role="progressbar" ng-style="{width: '100%'}" ></div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="input-group pull-right">
                                        <button class="btn-success btn btn-xs"><i class="fa fa-download"></i></button>
                                        <button class="btn-danger btn btn-xs" ng-click="vm.deleteFile(x.id)"><i class="fa fa-times"></i></button>
                                    </div>
                                </td>
                            </tr>      

                        </tbody>
                        <tfoot>                          
                        </tfoot>
                    </table>
                    <div class="ibox float-e-margins border-bottom border-left-right">
                        <div class="ibox-title gray-bg">
                            <h5>Drop file in the box below to upload it</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="ngs_dropzone">
                                <form action="#">
                                    <div class="ngs_dz_noborder" ngf-drop="vm.upload($file)" ngf-select="vm.upload($file)">
                                        <h1>Drop file here</h1>                                                                                                                            
                                    </div>
                                </form>                                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>File details: <b class="text-navy">File1.fasta</b></h5>


                </div>
                <div class="ibox-content">
                    <div class="row">
                        <button class="btn-primary btn btn-sm pull-right">Generate FASTQC report</button>
                    </div>
                    <div class="row">
                        <div class="ibox float-e-margins">

                            <table class="footable table table-striped toggle-arrow-tiny">
                                <thead>
                                    <tr>

                                        <th >Used in pipeline</th>
                                        <th >Job ID</th>
                                        <th >Date</th>                                
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>DNA realignment: homo sapiens</td>
                                        <td>1234</td>
                                        <td>July 20, 2016</td>
                                    </tr>
                                    <tr>
                                        <td>DNA realignment: homo sapiens</td>
                                        <td>1235</td>
                                        <td>July 20, 2016</td>
                                    </tr>
                                    <tr>
                                        <td>DNA realignment: homo sapiens</td>
                                        <td>1236</td>
                                        <td>July 20, 2016</td>
                                    </tr>
                                    <tr>
                                        <td>DNA realignment: homo sapiens</td>
                                        <td>1237</td>
                                        <td>July 20, 2016</td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>File storage usage</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div flot class="flot-chart-content" dataset="charts.flotPieData" options="charts.flotPieOptions"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


