<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Purchase extra options</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Upgrade account</a>
            </li>
            <li class="active">
                <strong>Purchase extra options</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Category</small>
                        <a ui-sref="commerce.product_details1" class="product-name"> Additional content</a>



                        <div class="small m-t-xs">
                            New bioinformatics pipelines and samples.
                        </div>
                        <div class="m-t text-righ">
                            <a ui-sref="commerce.product_details1" class="btn btn-sm btn-primary">Details <i class="fa fa-arrow-circle-o-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Category</small>
                        <a ui-sref="commerce.product_details2" class="product-name"> Extra upload/storage size</a>
                        <div class="small m-t-xs">
                            Upload and store larger files in our system.
                        </div>
                        <div class="m-t text-righ">

                            <a ui-sref="commerce.product_details2" class="btn btn-sm btn-primary">Details <i class="fa fa-arrow-circle-o-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Category</small>
                        <a ui-sref="commerce.product_details3" class="product-name"> Processing capacity</a>
                        <div class="small m-t-xs">
                            Faster data processing
                        </div>
                        <div class="m-t text-righ">
                            <a ui-sref="commerce.product_details3" class="btn btn-sm btn-primary">Details <i class="fa fa-arrow-circle-o-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">   
                        <small class="text-muted">Category</small>
                        <a ui-sref="commerce.product_details4" class="product-name"> Custom pipelines</a>
                        <div class="small m-t-xs">
                            Ability to create custom pipelines
                        </div>
                        <div class="m-t text-righ">

                            <a ui-sref="commerce.product_details4" class="btn btn-sm btn-primary">Details <i class="fa fa-arrow-circle-o-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
