<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Purchase extra options > Processing capacity</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Upgrade account</a>
            </li>
            <li>
                <a ui-sref="commerce.products_grid">Purchase extra options</a>
            </li>
            <li class="active">
                <strong>Processing capacity</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
<div class="row" ng-if="em.dataLoaded == true" ng-repeat="prd in em.productList| filter: { product_category: 'Processing capacity' }">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-3">
                            <img alt="product1" src="{{prd.img_url}}" style='height: 100%; width: 100%; object-fit: contain'>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8">

                                    <h2 class="font-bold m-b-xs">
                                        {{prd.product_name}}
                                    </h2>
                                </div>
                                <div class="col-md-4 text-right">
                                    <span> Subscription per month: </span>

                                    <h2 class="font-bold">$ {{prd.price}}</h2>
                                </div>
                            </div>

                            <hr>

                            <h4>Description</h4>

                            <div class="small text-muted">
                                {{prd.description_short}}
                                <br>
                                <br>
                                {{prd.description_long}}  
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button ng-if="!prd.in_cart" ng-click="em.addToCart(prd.id)" 
                                            class="btn btn-primary btn-sm">                                 
                                        <i class="fa fa-cart-plus"></i> Add to cart</button>
                                    <button ng-if="prd.in_cart" ng-click="em.removeFromCart(prd.id)" 
                                            class="btn btn-danger btn-sm">                                 
                                        <i class="fa fa-cart-plus"></i> Remove from cart</button>
                                    <button class="btn btn-white btn-sm" ui-sref="mailbox.mail_compose"><i class="fa fa-envelope"></i> Ask a question </button>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button ui-sref="commerce.cart" class="btn btn-info btn-sm"><i class="fa fa-calculator"></i> Proceed to checkout</button>
                                </div>
                            </div>                       
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h5><strong>Which processes will speed up?</strong></h5>
                                    </div>

                                    <div class="panel-body">
                                        <div ng-if="prd.product_name == 'Extra vCPUs'">

                                            <div class="table-responsive">
                                                <table class="table table-striped">

                                                    <tbody>
                                                        <tr>
                                                            <td>Alignment</td>
                                                            <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mpileup</td>
                                                            <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Splice junctions</td>
                                                            <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Contigs assembly</td>
                                                            <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
             
            </div>

        </div>
    </div>   
</div>
</div>