<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Purchase extra options</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Upgrade account</a>
            </li>
            <li class="active">
                <strong>Purchase extra options</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4><strong>Subscriptions for additional features and content</strong></h4>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="ibox">
                                <div class="ibox-content product-box">

                                    <div>
                                        <img alt="category1" src="img/products/cat1.png" style='height: 100%; width: 100%; object-fit: contain'>
                                    </div>
                                    <div class="product-desc">
                                        <small class="text-muted">Category</small>
                                        <a ui-sref="commerce.product_details1" class="product-name"> Additional content</a>

                                        <div class="small m-t-xs">
                                            New bioinformatics pipelines and samples
                                        </div>
                                        <br/>
                                        <h5>$20-30 per month</h5>
                                        <div class="m-t text-righ">
                                            <a ui-sref="commerce.product_details1" class="btn btn-sm btn-primary">Details <i class="fa fa-arrow-circle-o-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ibox">
                                <div class="ibox-content product-box">

                                    <div>
                                        <img alt="category2" src="img/products/cat2.png" style='height: 100%; width: 100%; object-fit: contain'>
                                    </div>
                                    <div class="product-desc">
                                        <small class="text-muted">Category</small>
                                        <a ui-sref="commerce.product_details2" class="product-name"> Extra upload/storage size</a>
                                        <div class="small m-t-xs">
                                            Upload and store larger files in our system
                                        </div>
                                        <br/>
                                        <h5>$10 per month for extra 100 GB</h5>
                                        <div class="m-t text-righ">

                                            <a ui-sref="commerce.product_details2" class="btn btn-sm btn-primary">Details <i class="fa fa-arrow-circle-o-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ibox">
                                <div class="ibox-content product-box">

                                    <div>
                                        <img alt="category3" src="img/products/cat3.png" style='height: 100%; width: 100%; object-fit: contain'>
                                    </div>
                                    <div class="product-desc">
                                        <small class="text-muted">Category</small>
                                        <a ui-sref="commerce.product_details3" class="product-name"> Processing capacity</a>
                                        <div class="small m-t-xs">
                                            Faster data processing with additional vCPUs
                                        </div>
                                        <br/>
                                        <h5>$100 per month for 8 vCPUs</h5>
                                        <div class="m-t text-righ">
                                            <a ui-sref="commerce.product_details3" class="btn btn-sm btn-primary">Details <i class="fa fa-arrow-circle-o-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
