<div class="row wrapper border-bottom white-bg page-heading" ng-init="em.init()">
    <div class="col-lg-10">
        <h2>Purchase extra options > Extra upload/storage size</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Upgrade account</a>
            </li>
            <li>
                <a ui-sref="commerce.products_grid">Purchase extra options</a>
            </li>
            <li class="active">
                <strong>Extra upload/storage size</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="image-imitation-small">
                                <img alt="product1" src="{{em.productList[2].img_url}}" style='height: 100%; width: 100%; object-fit: contain'>
                            </div>
                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                {{em.productList[2].productName}}
                            </h2>
                            <small>Upload larger files for processing for any of the pipelines.</small>
                            <div class="m-t-md">
                                <h2 class="product-main-price">${{em.productList[2].price}} <small class="text-muted">per month</small> </h2>
                            </div>
                            <hr>

                            <h4>Description</h4>

                            <div class="small text-muted">
                                {{em.productList[2].description_short}}
                                <br>
                                <br>
                                {{em.productList[2].description_long}}   
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button ng-if="!em.productList[2].inCart" ng-click="em.addToCart(2)" 
                                            class="btn btn-primary btn-sm">                                 
                                        <i class="fa fa-cart-plus"></i> Add to cart</button>
                                    <button ng-if="em.productList[2].inCart" ng-click="em.removeItemFromCart(2)" 
                                            class="btn btn-danger btn-sm">                                 
                                        <i class="fa fa-cart-plus"></i> Remove from cart</button>
                                    <button class="btn btn-white btn-sm" ui-sref="mailbox.mail_compose"><i class="fa fa-envelope"></i> Ask a question </button>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button ui-sref="commerce.cart" class="btn btn-info btn-sm"><i class="fa fa-calculator"></i> Proceed to checkout</button>
                                </div> 
                            </div>                            
                        </div>
                    </div>

                </div>
                <div class="ibox-footer">
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="image-imitation-small">
                                <img alt="product3" src="{{em.productList[3].img_url}}" style='height: 100%; width: 100%; object-fit: contain'>
                            </div>
                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                {{em.productList[3].productName}}
                            </h2>
                            <small>Store more data in your account.</small>
                            <div class="m-t-md">
                                <h2 class="product-main-price">${{em.productList[3].price}} <small class="text-muted">per month</small> </h2>
                            </div>
                            <hr>

                            <h4>Description</h4>

                            <div class="small text-muted">
                                It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout. The point of using Lorem Ipsum is

                                <br/>
                                <br/>
                                There are many variations of passages of Lorem Ipsum available, but the majority
                                have suffered alteration in some form, by injected humour, or randomised words
                                which don't look even slightly believable.
                            </div>
                            <hr>

                            <div class="form-group">
                                <div class="btn-group">
                                    <button ng-if="!em.productList[3].inCart" ng-click="em.addToCart(3)" 
                                            class="btn btn-primary btn-sm">                                 
                                        <i class="fa fa-cart-plus"></i> Add to cart</button>
                                    <button ng-if="em.productList[3].inCart" ng-click="em.removeItemFromCart(3)" 
                                            class="btn btn-danger btn-sm">                                 
                                        <i class="fa fa-cart-plus"></i> Remove from cart</button>
                                    <button class="btn btn-white btn-sm" ui-sref="mailbox.mail_compose"><i class="fa fa-envelope"></i> Ask a question </button>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button ui-sref="commerce.cart" class="btn btn-info btn-sm"><i class="fa fa-calculator"></i> Proceed to checkout</button>
                                </div> 
                            </div>

                        </div>
                    </div>

                </div>
                <div class="ibox-footer">
                </div>
            </div>

        </div>
    </div>


</div>