<div class="row wrapper border-bottom white-bg page-heading" ng-init="em.getItemsInCart()">
    <div class="col-lg-10" ng-init="em.getTotalForCart()">
        <h2>Shopping cart</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Upgrade account</a>
            </li>
            <li class="active">
                <strong>Shopping cart</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-9">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right"><strong>2</strong> items</span>
                    <h5>Items in your shopping cart</h5>
                </div>
                <div class="ibox-content" ng-repeat="x in em.itemsInCart">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                {{x.productCategory}}: {{x.productName}}
                                            </a>
                                        </h3>
                                        <dl class="small m-b-none">
                                            <dt>Description</dt>
                                        </dl>
                                        <p class="small">
                                            It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        </p>


                                        <div class="m-t-sm">                                 
                                            <a ng-click="em.removeItemFromCart(x)" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                        </div>
                                    </td>



                                    <td>
                                        <h4>
                                            ${{x.price}},00
                                        </h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div> 
                <div class="ibox-content">

                    <button ui-sref="commerce.payments" class="btn btn-info pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                    <button ui-sref="commerce.products_grid" class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>

                </div>
            </div>

        </div>
        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cart Summary</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        Total
                    </span>
                    <h2 class="font-bold">
                        ${{em.totalForCart}},00
                    </h2>

                    <hr/>
                    <div class="m-t-sm">
                        <div class="btn-group">
                            <a ui-sref="commerce.payments" class="btn btn-info btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                            <a ui-sref="commerce.cart"  class="btn btn-white btn-sm"> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Support</h5>
                </div>
                <div class="ibox-content text-center">



                    <h3><i class="fa fa-envelope"></i> support@ngspipeline.com</h3>
                    <span class="small">
                        Please contact us if you have any questions.
                    </span>


                </div>
            </div>
        </div>
    </div>




</div>