<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>My orders</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Upgrade account</a>
            </li>
            <li class="active">
                <strong>My orders</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h4><strong>My subscriptions</strong></h4>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>

                                <th>Order ID</th>
                                <th >Products</th>
                                <th >Purchase date</th>
                                <th >Total</th>                                
                                <th >Payment type</th>
                                <th >Status</th>
                                <th class="text-right">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in em.orders">
                                <td>
                                    {{x.id}}
                                </td>
                                <td>
                                    <table><tbody>
                                            <tr ng-repeat="y in x.lines">
                                                <td>
                                                    {{y.product.product_category}}: {{y.product.product_name}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    {{x.created_at| date:'MMM d, yyyy'}}
                                </td>
                                <td>
                                    {{x.amount}} USD
                                </td>
                                <td>
                                    {{x.payment_type}}
                                </td>
                                <td>
                                    <span ng-if="x.status == 'Confirmed'" class="label label-primary">{{x.status}}</span>
                                    <span ng-if="x.status == 'Pending'" class="label label-warning">{{x.status}}</span>
                                    <span ng-if="x.status == 'Cancelled'" class="label label-danger">{{x.status}}</span>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button class="btn-default btn btn-xs">View invoice</button>
                                    </div>
                                </td>
                            </tr>                                                                       
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
