<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Checkout</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Upgrade account</a>
            </li>
            <li class="active">
                <strong>Checkout</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">

    <div class="col-lg-12">

        <div class="ibox">
            <div class="ibox-title">
                <h2>Choose payment method</h2>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h3> <strong>Order total price</strong>: <span class="text-navy">${{em.cartAmount}}.00</span>
                        </h3>

                    </div>
                </div>    
            </div>

            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <uib-accordion class="panel-group payments-method">

                            <uib-accordion-group is-open="true">
                                <uib-accordion-heading>
                                    <div class="pull-right">
                                        <i class="fa fa-cc-visa text-success"></i>
                                        <i class="fa fa-cc-mastercard text-warning"></i>
                                    </div>
                                    <h4 class="panel-title">
                                        Credit card
                                    </h4>
                                </uib-accordion-heading>
                                <div class="panel-body">

                                    <div class="row" ng-controller="stripeController as stripe">
                                        <form id="cardInput" stripe-form="makePurchase">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label>CARD NUMBER</label>
                                                        <div class="input-group">
                                                            <input ng-model="number" class="form-control" placeholder="XXXX XXXX XXXX XXXX"
                                                                   name="card" payments-format="card" payments-validate="card" required/>
                                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>                                
                                                        </div>
                                                        <span class="help-block m-b-none text-danger">{{stripe.cardValidationMessage}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label>NAME ON CARD</label>
                                                        <input ng-model="name" class="form-control" placeholder="First and Last Name" required/>                                                           
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-7 col-md-7">
                                                    <div class="form-group">
                                                        <label>EXPIRATION DATE</label>
                                                        <input class="form-control" ng-model="expiry" placeholder="MM/YYYY"
                                                               payments-validate="expiry" payments-format="expiry" required/>
                                                        <span class="help-block m-b-none text-danger">{{stripe.expiryValidationMessage}}</span>

                                                    </div>
                                                </div>
                                                <div class="col-xs-5 col-md-5">
                                                    <div class="form-group">
                                                        <label>CVC</label>
                                                        <input class="form-control" ng-model="cvc" placeholder="CVC" 
                                                                 required/>
                                                        <span class="help-block m-b-none text-danger">{{stripe.cvcValidationMessage}}</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-info" type="submit">Submit</button>
                                            <span class="text-danger">{{stripe.generalValidationMessage}}</span>
                                        </form>
                                    </div>
                                </div>
                            </uib-accordion-group>                            
                        </uib-accordion>
                    </div>

                    <div class="col-lg-6">
                        <uib-accordion class="panel-group payments-method">

                            <uib-accordion-group is-open="true">
                                <uib-accordion-heading>
                                    <div class="pull-right">
                                    </div>
                                    <h4 class="panel-title">
                                        Wire transfer
                                    </h4>
                                </uib-accordion-heading>
                                <div class="panel-body">

                                    <div class="row">

                                        <p class="m-t">
                                            You can make a wire transfer to us to pay for your order.
                                            The details for the transfer are provided below:
                                        </p>
                                        <p>
                                            Account number: 321321323 <br>
                                            Correspondent account: 32234324235 <br>
                                            BIC: 24234234234 <br>
                                            Company name: NGS Pipeline Inc <br>
                                        </p>
                                        <p class="m-t">
                                            If you choose to make a wire transfer, 
                                            we will grant you access to all the purchased options 
                                            on the website immediately,
                                            but please note that we will revoke it if we don't get 
                                            your transfer within 7 days.
                                        </p>                                      
                                    </div>
                                    <div class="row">
                                        <button class="btn btn-info" 
                                                ng-click="em.createInvoice('Wire transfer')" 
                                                type="submit">Print invoice for wire transfer</button>
                                    </div>

                                </div>
                            </uib-accordion-group>                            
                        </uib-accordion>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

