<div class="row wrapper border-bottom white-bg page-heading" ng-init="em.init()">
    <div class="col-lg-10">
        <h2>Shopping cart</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Upgrade account</a>
            </li>
            <li class="active">
                <strong>Shopping cart</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-9">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right"><strong>{{em.cartCount}}</strong> items</span>
                    <h5>Items in your shopping cart</h5>
                </div>
                <div class="ibox-content" ng-repeat="x in em.cart">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                            <img src="{{x.img_url}}" style='height: 100%; width: 100%; object-fit: contain'>
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a ui-sref="{{x.product_url}}" class="text-navy">
                                                {{x.product_category}}: {{x.product_name}}
                                            </a>
                                        </h3>
                                        <dl class="small m-b-none">
                                            <dt>Description</dt>
                                        </dl>
                                        <p class="small">
                                            {{x.description_short}}
                                        </p>


                                        <div class="m-t-sm">                                 
                                            <a ng-click="em.removeFromCart(x.id)" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                        </div>
                                    </td>



                                    <td>
                                        <h4>
                                            ${{x.price}},00
                                        </h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div> 
                <div class="ibox-content" ng-if="em.cartCount == 0" align="center">Your shopping cart is empty</div>
                <div class="ibox-content">

                    <button ng-if="em.cartCount != 0" ui-sref="commerce.payments" class="btn btn-info pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                    <button ng-if="em.cartCount == 0" class="btn btn-info disabled pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                    <button ui-sref="commerce.products_grid" class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>

                </div>
            </div>

        </div>
        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cart Summary</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        Total
                    </span>
                    <h2 class="font-bold">
                        ${{em.cartAmount}},00
                    </h2>

                    <hr/>
                    <div class="m-t-sm">
                        <div class="btn-group">
                            <a ng-if="em.cartCount != 0" ui-sref="commerce.payments" class="btn btn-info btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                            <a ng-if="em.cartCount == 0" class="btn btn-info disabled btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                            <a ng-click="em.clearCart()"  class="btn btn-white btn-sm"> Clear cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Support</h5>
                </div>
                <div class="ibox-content text-center">



                    <h3><a href="mailto:support@ngspipeline.com"><i class="fa fa-envelope"></i> support@ngspipeline.com</a></h3>
                    <span class="small">
                        Please contact us if you have any questions.
                    </span>


                </div>
            </div>
        </div>
    </div>




</div>