<div class="row wrapper border-bottom white-bg page-heading" ng-init="em.init()">
    <div class="col-lg-10">
        <h2>Purchase extra options > Processing capacity</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Upgrade account</a>
            </li>
            <li>
                <a ui-sref="commerce.products_grid">Purchase extra options</a>
            </li>
            <li class="active">
                <strong>Processing capacity</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="image-imitation-small">
                                <img alt="product1" src="{{em.productList[4].img_url}}" style='height: 100%; width: 100%; object-fit: contain'>
                            </div>
                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                {{em.productList[4].productName}}
                            </h2>
                            <small>Speed up your pipelines execution by plugging in additional vCPUs</small>
                            <div class="m-t-md">
                                <h2 class="product-main-price">${{em.productList[4].price}} <small class="text-muted">per month</small> </h2>
                            </div>
                            <hr>

                            <h4>Description</h4>

                            <div class="small text-muted">
                                {{em.productList[4].description_short}}
                                <br>
                                <br>
                                {{em.productList[4].description_long}}  
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button ng-if="!em.productList[4].inCart" ng-click="em.addToCart(4)" 
                                            class="btn btn-primary btn-sm">                                 
                                        <i class="fa fa-cart-plus"></i> Add to cart</button>
                                    <button ng-if="em.productList[4].inCart" ng-click="em.removeItemFromCart(4)" 
                                            class="btn btn-danger btn-sm">                                 
                                        <i class="fa fa-cart-plus"></i> Remove from cart</button>
                                    <button class="btn btn-white btn-sm" ui-sref="mailbox.mail_compose"><i class="fa fa-envelope"></i> Ask a question </button>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button ui-sref="commerce.cart" class="btn btn-info btn-sm"><i class="fa fa-calculator"></i> Proceed to checkout</button>
                                </div> 
                            </div>                           
                        </div>
                    </div>

                </div>
                <div class="ibox-footer">
                </div>
            </div>

        </div>
    </div>
<!--
    
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="image-imitation-small">
                                <img alt="product1" src="{{em.productList[5].img_url}}" style='height: 100%; width: 100%; object-fit: contain'>
                            </div>
                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                {{em.productList[5].productName}}
                            </h2>
                            <small>Enable MPI-optimized pipeline execution</small>
                            <div class="m-t-md">
                                <h2 class="product-main-price">${{em.productList[5].price}} <small class="text-muted">per month</small> </h2>
                            </div>
                            <hr>

                            <h4>Description</h4>

                            <div class="small text-muted">
                                {{em.productList[5].description_short}}
                                <br>
                                <br>
                                {{em.productList[5].description_long}} 
                            </div>
                            <hr>

                            <div class="form-group">
                                <div class="btn-group">
                                    <button ng-if="!em.productList[5].inCart" ng-click="em.addToCart(5)" 
                                            class="btn btn-primary btn-sm">                                 
                                        <i class="fa fa-cart-plus"></i> Add to cart</button>
                                    <button ng-if="em.productList[5].inCart" ng-click="em.removeItemFromCart(5)" 
                                            class="btn btn-danger btn-sm">                                 
                                        <i class="fa fa-cart-plus"></i> Remove from cart</button>
                                    <button class="btn btn-white btn-sm" ui-sref="mailbox.mail_compose"><i class="fa fa-envelope"></i> Ask a question </button>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button ui-sref="commerce.cart" class="btn btn-info btn-sm"><i class="fa fa-calculator"></i> Proceed to checkout</button>
                                </div> 
                            </div>

                        </div>
                    </div>

                </div>
                <div class="ibox-footer">
                </div>
            </div>

        </div>
    </div>
-->

</div>