<div class="row wrapper border-bottom white-bg page-heading" ng-init="em.init()">
    <div class="col-lg-10">
        <h2>Submit a request for custom pipeline</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Custom projects</a>
            </li>
            <li class="active">
                <strong>Submit a request for custom pipeline</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="image-imitation-small">
                                <img alt="product1" src="{{em.productList[6].img_url}}" style='height: 100%; width: 100%; object-fit: contain'>
                            </div>
                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                {{em.productList[6].productName}}
                            </h2>
                            <small>Launch a fully customized pipeline via our website</small>
                            <div class="m-t-md">
                                <h2 class="product-main-price">Price available upon request </h2>
                            </div>
                            <hr>

                            <h4>Description</h4>

                            <div class="small text-muted">
                                {{em.productList[6].description_short}}
                                <br>
                                <br>
                                {{em.productList[6].description_long}}
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Project name:</label>

                                        <div class="col-sm-10"><input type="text" class="form-control" 
                                                                      placeholder="Please enter your pipeline project name"></div>

                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group"><label class="col-sm-2 control-label">Description:</label>

                                        <div class="col-sm-10">
                                            <textarea class="form-control message-input-mail" name="message" 
                                                      placeholder="Please describe your project in brief" ></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="btn-group">
                                            <button
                                                    class="btn btn-primary btn-sm">                                 
                                                <i class="fa fa-cart-plus"></i> Submit a request for proposal</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="ibox-footer">
                </div>
            </div>

        </div>
</div>

</div>