<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Submit a request for a custom project</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Custom projects</a>
            </li>
            <li class="active">
                <strong>Submit a request for a custom project</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="image-imitation-small">
                                <img src="img/products/prod7.png" style='height: 100%; width: 100%; object-fit: contain'>
                            </div>
                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                Order a custom project
                            </h2>
                            <small>Launch a fully customized pipeline via our Web-portal</small>

                            <hr>

                            <h4>Description</h4>

                            <div class="small text-muted">
                                We can migrate the functionality of any of your processing pipelines to our infrastructure. 
                                You can use any software and datasets you like, and you do not need to configure 
                                anything in your browser yourself to make this transition - we will do the job for you. 
                                <br>
                                <br>
                                The process works the following way: you send us either your script or simply a  
                                description of what your pipeline does and which software/utilities you use for this. 
                                We will make it run on our infrastructure and optimize it for parallel processing. 
                                As a result, you will have private access to your processing pipeline via a convenient
                                Web-interface, plus our cluster-based facilities to run it efficiently. 
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Project: *</label>

                                        <div class="col-sm-10"><input type="text" class="form-control" 
                                                                      placeholder="Please enter your pipeline project name"></div>

                                    </div>
                                </div>                                
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group"><label class="col-sm-2 control-label">Description:</label>

                                        <div class="col-sm-10">
                                            <textarea class="form-control message-input-mail" name="message" 
                                                      placeholder="Please describe your project in brief" ></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group"><label class="col-sm-2 control-label">Required software:</label>

                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <select multiple chosen class="chosen-select" style="width:350px;" tabindex="4"
                                                        >
                                                    <option value="BWA">BWA</option>
                                                    <option value="Bowtie">Bowtie</option>
                                                    <option value="Bowtie2">Bowtie2</option>
                                                    <option value="SamTools">SamTools</option>
                                                    <option value="VCFTools">VCFTools</option>
                                                    <option value="ANNOVAR">ANNOVAR</option>
                                                    <option value="Tophat">Tophat</option>
                                                    <option value="STAR">STAR</option>
                                                    <option value="Cufflinks">Cufflinks</option>
                                                    <option value="Velvet">Velvet</option>
                                                    <option value="Oasis">Oasis</option>
                                                    <option value="Trinity">Trinity</option>
                                                    <option value="Picard">Picard</option>
                                                    <option value="GATK">GATK</option>
                                                    <option value="Trimmomatic">Trimmomatic</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>                                                                      
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>

                                        <div class="col-sm-10"><input type="text" class="form-control" 
                                                                      placeholder="Please list any other software you use"></div>

                                    </div>
                                </div>                                
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="btn-group">
                                            <button
                                                class="btn btn-primary btn-sm">                                 
                                                 Submit</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="ibox-footer">
                </div>
            </div>

        </div>
    </div>

</div>