<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <h2 class="font-bold">General Terms and Conditions</h2>          

            <p>These General Terms and Conditions (hereinafter, the <b>“T&C”</b>) govern the use of 
                paid Services (as defined in <a ui-sref="terms_of_service">Terms of Service</a>) provided by NGS Pipeline Inc., 
                a US company registered at 900 Wilshire Drive, STE 202-45, Troy, MI, 48084, 
                registration number [NUMBER], (hereinafter, <b>“NGS Pipeline”</b>, <b>“we”</b> or <b>“us”</b>) 
                at www.ngspipeline.com website and its relevant subdomains (hereinafter, the <b>“Website”</b>). 
                The terms <b>“you”</b> and <b>“your”</b> (hereinafter, also, the <b>“Customer”</b>) shall 
                mean the individual or the entity (e.g., company, corporation, partnership, sole proprietor,
                etc.) entering into a binding Subscription Agreement with NGS Pipeline.</p>

            <p>The <b>“Subscription Agreement”</b> consists of these General Terms and Conditions, as well as
                of the standard, transactional rates and detailed service terms applicable to you (the 
                <b>“<a ui-sref="price_schedule">Price Schedule and Supplemental Terms</a>”</b>). 
                By clicking “I Agree” checkbox when placing
                an order on the Website, you agree and acknowledge that you accept the Subscription Agreement
                in full, with no options or exceptions. In case of disagreement with any of the provisions
                in the Subscription Agreement, you shall not place an order to use the Services.</p>


            <h3>1. ORDERING PROCESS AND ACCEPTANCE POLICY</h3>

            <p>1.1. You and NGS Pipeline (hereinafter, collectively, the <b>“Parties”</b>) have agreed to enter
                into a binding Agreement upon the terms of which NGS Pipeline agrees to provide access to 
                Services on paid monthly subscription basis, and you agree to pay for these Services.</p>

            <p>1.2 Once you press the “Purchase” button, an order is created in our system (hereinafter,
                the <b>“Order”</b>) that contains all the Services for which you have subscribed through
                our web interface.</p>

            <p>1.3. NGS Pipeline reserves the right to grant you access to the Services immediately after 
                the placement of your Order, before the fee is actually received by us from the payment 
                processing system. In this case NGS Pipeline shall be deemed to have fulfilled its 
                obligations at the moment you are granted access to these Services.</p>

            <p>1.4. Your permanent access to the Services is conditional upon our successful receipt of the 
                payment for them from you. Once we receive your payment, we will send a confirmation 
                email to your address. We encourage you to save this order confirmation email for 
                any future contacts with us.</p>

            <p>1.5. If we do not receive the payment for the Services from you within 5 business days,
                we reserve the right to cease your access to the Services.</p>


            <h3>2. RIGHTS AND OBLIGATIONS OF THE PARTIES</h3>

            <p>2.1. NGS Pipeline undertakes to provide the Services to you in a quality manner and in 
                accordance with the terms and procedures described in the Price Schedule and Supplemental 
                Terms document. </p>

            <p>2.2. You undertake to pay for the Services in the manner described in Section 3 of 
                this document and abide by the rules and other requirements described in this document,
                the Terms of Use and the Price Schedule and Supplemental Terms.</p>

            <p>2.3. NGS Pipeline shall have the right not to proceed with the provision of the Services 
                when there is a breach by the Customer of his obligations. In case of suspension of 
                Services provision due to any reason, we will notify you by sending an email.</p>

            <p>2.4. You shall have the right to get information, clarifications, help and customer 
                support from NGS Pipeline on the technical details of the Services purchased upon request.</p>


            <h3>3. COST OF SERVICES AND PAYMENT TERMS</h3>

            <p>3.1. The details on the pricing and intended use of particular Services provided by
                NGS Pipeline are specified in the <a ui-sref="price_schedule">Price Schedule and Supplemental Terms</a> document.</p>

            <p>3.2. The fees shall be paid by the User on a prepaid monthly subscription basis. 
                You agree and acknowledge that after you have subscribed to a Pipeline or Additional
                Feature, we will follow opt-out subscription policy, which means that we will 
                automatically renew your subscription every month and surcharge your card for it,
                unless you have explicitly unsubscribed from the service.</p>

            <p>3.3. You have the right to unsubscribe from any Pipeline or Additional Feature
                using a “Manage my subscriptions” form on our Website or by sending us an email
                with an explicit unsubscription request to <a href="mailto:support@ngspipeline.com">
                    support@ngspipeline.com</a>. In case you unsubscribe from a Service, your prepaid 
                fees for the current month will not be returned or prorated in any way and you will 
                continue to have access to the Service until the end of the period that you’ve 
                prepaid your access for.</p>

            <p>3.4. The settlement for the Services shall be made using either credit card or wire 
                transfer to our bank account. Other methods of payment for the Services are acceptable 
                if agreed by the Parties in advance. To maximize security, NGS Pipeline doesn’t store 
                your credit card data, and it is held by third party payment providers (Stripe, Paypal).</p>

            <p>3.5. The burden of paying bank charges and commissions of third parties when paying the 
                for NGS Pipeline Services shall be borne by the Customer.</p>


            <h3>4. FORCE MAJEURE</h3>

            <p>4.1. The Parties shall not be responsible for partial or complete failure to fulfill 
                the obligations under the present Subscription Agreement if such a failure has arisen
                from force majeure circumstances. In this case, the performance of the obligations
                shall be delayed for the duration period of the force majeure circumstances
                and their consequences.</p>

            <p>4.2. Upon the occurrence of the above circumstances, each Party shall notify the
                other Party within 5 days from the occurrence of these circumstances.</p>


            <h3>5. APPLICABLE LAW AND DISPUTES RESOLUTION</h3>

            <p>5.1. This Subscription Agreement and any disputes arising out of it shall be governed 
                by the substantive and procedural laws of the state of Michigan without regard to
                its rules on conflicts or choice of law and, to the extent applicable, the laws of
                the United States of America.</p>

            <p>5.2. The Parties undertake to make every effort to resolve disputes through negotiations.</p>


            <h3>6. NOTICES, REGISTRATION AND AUTHORIZATION</h3>

            <p>6.1. Official notices related to this Subscription Agreement must be sent to us at: </p>
            <p>
                NGS Pipeline Inc.<br/>
                ATTN: Chief Executive Officer<br/>
                900 Wilshire Drive, STE 202-45</br>
                Troy, MI 48084

            </p>

            <p>
                NGS Pipeline Inc. is registered with Michigan Department of Licensing and Regulatory Affairs. <br/>
                The registration number is [NUMBER]. <br/>
                EIN of NGS Pipeline Inc. is [NUMBER].<br/>
                The registered address of NGS Pipeline Inc. is 900 Wilshire Drive, STE 202-45, Troy, MI 48084.

            </p>

        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-md-12">
            Copyright NGS Pipeline
            <small>© 2016</small><br>
            Please contact us at 
            <a href="mailto:support@ngspipeline.com">support@ngspipeline.com</a>
        </div>
    </div>
</div>