<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">Welcome to NGS Pipeline</h2>

            <p>
                Our mission is to make learning bioinformatics a fun and exciting process
                for everyone.
            </p>

            <p>
                Please register to get access to our app -- it's quick and free. 
            </p>

            <p>
                After registration you will get access to the sample content that 
                we've created to show you how the process works. As of now we have 
                implemented DNA resequencing pipeline that allows you 
                to align a file with reads from Illumina to a reference genome, 
                and there are more to go soon.
            </p>

        </div>
        <div class="col-md-6">
            <div class="ibox-content" ng-controller="loginController as vm">
                <form class="m-t" role="form" ng-submit="vm.submitLogin()">
                    {{vm.loginMessage}}

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" ng-model="vm.user.name" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" ng-model="vm.user.password" required="">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>                    
                    <a ui-sref="forgot_password">
                        <small>Forgot password?</small>
                    </a>

                    <p class="text-muted text-center">
                        <small>Do not have an account?</small>
                    </p>
                    <a class="btn btn-success btn-block" ui-sref="create_account">Create an account</a>
                </form>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            Copyright NGS Pipeline
            <small>© 2016</small><br>
            Please contact us at 
                <a href="mailto:support@ngspipeline.com">support@ngspipeline.com</a>
        </div>
    </div>
</div>