<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <h2 class="font-bold">Privacy policy of NGS Pipeline Inc.</h2>

            <p>
                NGS Pipeline Inc. (hereafter referred to as “we” or “us”) is committed to maintaining
                the privacy of every current, former and prospective customer. We recognize that you
                entrust important personal information to us, and we wish to assure you that we take
                seriously our responsibilities in protecting and safeguarding this information. 
                This Privacy Policy (the “Policy”) describes in detail how we deal with the personal
                information that we collect on this website. 
            </p>
            <p>
                We may update this Policy at any time by posting a new version on this website. 
                You should check this page occasionally to ensure you are familiar with any changes. 
            </p>
            <h3>I. INFORMATION WE COLLECT</h3>
            <p>NGS Pipeline Inc. may collect and use the following types of personal information: 
            </p>
            <h4>1. Cookies</h4>
            <p>
                We may send cookies to your computer. Cookies are strings of information that are 
                sent out by a website and saved in your computer. We may use session specific cookies
                to automatically collect data about website usage when you visit this website, 
                including your IP address, “click-stream” data regarding the portions of this 
                website that you visit and the information or other services you obtain or input 
                (including domain name, Internet service provider, protocol, browser type, operating 
                system etc.). This information is collected primarily for purposes of administering
                our website, compiling demographic information and monitoring usage and performance. 
                If you turn off the cookie function, you may not receive all the information on this website.
            </p>
            <h4>2. User account information</h4>
            <p>
                When you register an account with us or purchase our services, we collect personal information,
                such as your name and email address. You also have the option to provide us with additional 
                information about yourself through surveys, forms, features or applications in the course of 
                your establishing or maintaining a customer relationship with us.  
            </p>
            <h4>3. Information about transactions</h4>
            <p>
                We store in our system only the information about your current and past transactions on our
                website (order details, payments, invoices etc) in order to provide you access to our services
                and maintain client communication. We do not record or store your credit card data (such as
                cardholder’s account number, expiration date and CVC/CVV2 code) or bank account data on our
                servers at any time and use secure and reliable services for online payment transactions
                processing (such as Stripe or Paypal).  
            </p>

            <h3>II. PROTECTION, PROCESSING AND USE OF PERSONAL INFORMATION</h3>
            <p>
                We use your personal information to provide services to our customers and to enhance the quality
                of our products. We maintain physical, electronic and procedural safeguards to guard your personal
                information, including firewalls, individual passwords and encryption and authentication technology.  
            </p>
            <p>NGS Pipeline Inc. may use your personal information to:</p>
            <ul>
                <li>open your user account and communicate with you;</li>
                <li>authenticate your access to personalized areas of our website and track your usage of our services;</li>  
                <li>supply to you the data processing services that you purchase, collect and process your payments for them;</li> 
                <li>send you account statements, invoices and transaction confirmations;</li> 
                <li>offer you our new products and services through marketing communications;</li> 
                <li>conduct data analytics to improve and enhance our services.</li> 
            </ul>
           	
            <p>We do not use for purposes other than as set out above, or disclose to any third party any personal
                information about our customers or former customers, except with such customer’s consent or as 
                otherwise permitted or required by law. We will retain your personal information in accordance 
                with applicable data protection laws for so long as it is needed.</p>

            <p>You may be able to opt-out of having your information used for certain of these activities by
                sending us an email with an explicit opt-out request to <a href="mailto:support@ngspipeline.com">
                    support@ngspipeline.com</a> or by adjusting your preferences through our website.</p>

            <h3>III. SECURITY OF DATA TRANSFER</h3>

            <p>NGS Pipeline Inc. takes reasonable technical and organizational precautions to prevent the
                loss, misuse or alteration of your personal information. In particular, all connections 
                to and from the personalized areas of our website are encrypted using Secure Socket Layer
                (SSL) technology.</p>

            <p>Please note that some of your data that is transported over an open network may be accessible
                to anybody. NGS Pipeline Inc. cannot guarantee the confidentiality of any communication or
                material transmitted via such open networks. When disclosing any personal information via 
                an open network, you should remain mindful of the fact that it is potentially accessible 
                to others, and consequently, can be collected and used by others without your consent. 
                We do not accept any liability for direct or indirect losses as regards the security 
                of your data during its transfer via Internet.</p>

                <p>Please recognize that protecting your personal information is also your responsibility.
                    We ask you to be responsible for safeguarding your password and other authentication
                    information you use to access our services. You should not disclose your authentication
                    information to any third-party and should immediately notify NGS Pipeline Inc. of any
                    unauthorized use of your password. We cannot secure personal information that you 
                    release on your own or that you request us to release.</p>

            <p>Please note that your private information may be stored and processed in the United States
                or any other country in which NGS Pipeline Inc. or its subsidiaries operate, and, therefore,
                your information may be subject to the laws of those other jurisdictions which may be
                different from the laws of your country of residence. </p>

            <h3>IV. OTHER WEBSITES</h3>

            <p>This website may contain hyperlinks to other websites that are not operated or monitored 
                by NGS Pipeline Inc. These other websites are not subject to this Policy and we are not 
                responsible for their content or for the policy they apply to the treatment of personal
                data. We recommend that you read the policy used by these websites and check how these 
                websites protect your personal data and whether they are trustworthy.</p>

            <h3>V. CONTACTS</h3>
            <p>If you have any questions about this Policy or treatment of your personal information, 
                please contact us at <a href="mailto:support@ngspipeline.com">support@ngspipeline.com</a>.</p>


        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-md-12">
            Copyright NGS Pipeline
            <small>© 2016</small><br>
            Please contact us at 
            <a href="mailto:support@ngspipeline.com">support@ngspipeline.com</a>
        </div>
    </div>
</div>