<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <h2 class="font-bold">Terms of Service of NGS Pipeline Inc.</h2>          
            
            <p>We ask you to read carefully these Terms of Service (hereinafter, the “TOS”) 
                applicable to your use of the online services, defined below in Clause 2.1 
                hereof (hereinafter, the <b>“Services"</b>), provided by NGS Pipeline Inc., a US 
                company registered at 900 Willshire Drive, STE 202-45, Troy, MI, 48084, 
                registration number [NUMBER], (hereinafter, <b>"NGS Pipeline"</b>, <b>“we”</b> or <b>“us”</b>) 
                at www.ngspipeline.com website and its relevant subdomains (hereinafter, 
                the <b>“Website”</b>). These TOS and any other policies available on the Website, 
                referenced by or referencing these TOS, shall jointly constitute, as added, 
                amended, modified, supplemented or restated from time to time, a binding 
                agreement between you and NGS Pipeline applicable to your use of the 
                Website and the Services (hereinafter, the <b>“Agreement”</b>). </p>

            <h3>1. ACCEPTANCE OF TERMS</h3>

            <p>1.1. This Agreement shall enter into force as of the moment you first access 
                the Website or commence use of any of the Services. By accessing, browsing 
                or using the Website and/or any of the Services you irrevocably and unconditionally
                accept and adhere to these TOS and confirm that you agree to be bound by this 
                Agreement without any exemptions, limitations and exclusions, and any and all 
                provisions of this Agreement shall be enforceable to the fullest extent 
                against you. If you access the Website or use any of the Services on behalf 
                of a business (whether registered or operating without registration), that 
                business hereby accepts the terms of this Agreement. It will hold harmless 
                and indemnify NGS Pipeline from any claim, suit or action arising from or 
                related to the use of the Website and Services or violation of the Agreement, 
                including any liability or expense arising from claims, losses, damages, 
                suits, judgments, litigation costs and attorneys’ fees.</p>

             <p>1.2. In the event you disagree with any provision hereof and would not like
                 to be bound by this Agreement, you shall cease use of the Website and the 
                 Services immediately.</p>

             <p>1.3. NGS Pipeline shall be entitled to modify and amend any parts of this 
                 Agreement at its sole discretion without any prior notice to you. These 
                 modifications and amendments may be due to the changes on the Website,
                 in the Services or in order to ensure compliance with legal requirements
                 or for any other reasons. The modifications and amendments will become 
                 effective as of the moment they are available on this webpage, unless 
                 otherwise expressly specified therein. We encourage you to check this 
                 webpage regularly to ensure you are familiar with the current version. </p>


             <h3>2. DESCRIPTION OF SERVICES</h3>

             <p>2.1. Under this Agreement, NGS Pipeline provides its customers with the 
                 following online services:</p>
             <ul>
                 <li>access to our website (both restricted and unrestricted);</li>
                    <li>access to the bioinformatics data processing algorithms, or 
                        “pipelines”, (hereinafter, the <b>“Pipelines”</b>) that we offer through it;</li>
                <li>access to additional on-demand features and options that can improve user 
                    experience for a particular client, such as additional file storage 
                    space on our servers or ability to increase the speed of data processing 
                    (hereinafter, the <b>“Additional Features”</b>).</li>
             </ul>

             <p>2.2. Each of the Pipelines is a bundled combination of proprietary software 
                 that has been developed by NGS Pipeline Inc. with a large number of 
                 third-party open-source software products launched in particular order
                 and manner, with specific parameters optimized for cluster environment.</p> 

             <p>2.3. For experienced users, we offer an advanced option to add their own 
                 fully customized Pipelines to our system. Addition of each of such Pipelines
                 is considered as a separate consulting project that is priced and negotiated
                 with the customer on a case-by-case basis and is subject to a separate contract agreement.</p>

            <p>2.4. As a part of its business, NGS Pipeline provides its users with access to 
                certain materials available on the Website (hereinafter, the <b>"Materials"</b>)
                that comprise both public domain data (the <b>“Public Materials”</b>) and our 
                proprietary and custom content (the <b>“Private Materials”</b>). Both Private and 
                Public Materials are provided with the main purpose to guide you through the 
                functionality of our website (as they consist of sample genomic and annotation
                data, guides, articles, images, notes, user experience tours etc.)</p>

            <h3>3. PREREQUISITES</h3>

             <p>3.1. You confirm and acknowledge that you are of sufficient age to access this
                 Website and use the Services in accordance with the laws of your country of 
                 residence or any other applicable legal requirements.</p>

             <p>3.2. This Website uses cookies and may store your private information. By 
                 using this Website and/or its Services, you provide your express and 
                 unconditional consent that your private information may be collected and 
                 used by us in accordance with the terms of the Privacy Policy of NGS Pipeline.</p>

             <h3>4. ACCEPTABLE USE </h3>

             <h4>4.1. User account registration and maintenance </h4>

             <p>4.1.1. Access to certain areas of this Website is restricted and requires user
                 registration. Upon your registration on our Website, you will have a User ID 
                 and password, permitting you to access the Services and Materials. </p>

             <p>4.1.2. It is your responsibility to keep your user credentials confidential. 
                 You agree and are obliged not to share your User ID with anyone else. We 
                 can occasionally monitor your user authentication activity and may prohibit 
                 simultaneous user sessions with the same user account data from multiple 
                 locations/devices. We may suspend your access to our Services and Materials
                 in case of regular infringement of this policy without any prior notice or explanation. </p>

              <p>4.1.3. You also agree to fully and accurately provide the information requested 
                  by us when setting up your account and to regularly update such information. 
                  Your failure to do so may result in the suspension or cancellation of your 
                  account and loss of access to the Services and Materials. In particular, 
                  we highly recommend you to keep the email data in your user account at our
                  Website up-to-date, as you will need this data to restore your password in
                  case you forget it. </p>

              <h4>4.2. User Content upload and storage</h4>

              <p>4.2.1. In these TOS, by user content (hereinafter, the <b>“Content”</b> or the
                  <b>“User Content”</b>) we mean the data files that you submit to our Website 
                  to be subsequently processed at your discretion in any of our Pipelines 
                  and/or stored in your private file storage on our servers. Acceptable 
                  usage of NGS Pipeline’s Services assumes that your User Content is not 
                  illegal or unlawful in any way, does not infringe any third party’s legal
                  rights and is not capable of giving rise to legal action against you, 
                  NGS Pipeline or any third party. </p>

                <p>4.2.2. NGS Pipeline reserves the right to remove any User Content submitted 
                    to our Website, or stored on our servers. Furthermore, you must acknowledge 
                    that we also may access and monitor the submitted User Content from time to 
                    time at our discretion, with the sole purpose of providing better data 
                    services to our customers. We do not monitor all User Content submitted 
                    to our Website by our customers and don’t assume any responsibility for
                    compliance of this Content with any applicable law.</p>

                <p>4.2.3. Please also note that the intended use of our Services and Materials 
                    assumes frequent uploading and downloading large files (more than 1-2 Gb)
                    to and from our website. In order to use our Services and Materials in 
                    an efficient manner, it is your responsibility to obtain high-quality 
                    Internet access and all equipment necessary to make such Internet connection. </p>

                <h4>4.3. Subscription to Services</h4>

                <p>4.3.1. You must acknowledge and agree that the form and nature of the Services
                    provided by NGS Pipeline may change from time to time without any prior 
                    notice to you. You acknowledge and agree that we may stop providing some
                    Services (or any features within the Services) to our clients at our sole 
                    discretion. You may stop using the Services of NGS Pipeline at any time. </p>

                <p>4.3.2. Access to paid Pipelines and Additional Features is further regulated 
                    by General Terms and Conditions and Price Schedule and Supplemental Terms 
                    that together form a <b>Subscription Agreement</b>.</p>


                <h4>4.4. Custom Pipelines</h4>

                <p>4.4.1. You have an option to order a custom project from us to implement 
                    your data processing pipelines within the interface of our Website. 
                    In order to do it, you have to send a request for proposal through a 
                    form on our Website or to <a href="mailto:support@ngspipeline.com">support@ngspipeline.com</a>
                    that will specify the details about your pipeline and the algorithms 
                    it uses (description of the input and output data, software used and
                    its parameters, performance requirements etc.) </p>

                <p>4.4.2. After we analyze this information (it usually takes 1-3 business days),
                    we will get back to you with a preliminary offer that will contain an estimate 
                    of implementation time and cost. Afterwards, if you are interested in this 
                    offer, our further collaboration will be negotiated in the form of a 
                    separate and binding contract that will describe all your technical 
                    requirements in more detail. From our experience, such projects take 
                    1-2 weeks on average.</p>

                <p>4.4.3. You must acknowledge and agree that, although we do it extremely 
                    rarely in practice, we reserve the right to withdraw our consent to 
                    implement a custom pipeline project for you in case of special circumstances. 
                    The factors that may influence our decision to do it are as follows:</p>
                <ul>
                    
                    <li>Your current pipelines use a lot of your own custom and proprietary 
                        scripting and/or third-party software that is error-prone and poorly 
                        documented (if at all) instead of relying on commonly used and 
                        popular packages and libraries;</li>
                    <li>The datasets that you are analyzing are extremely large or corrupted, 
                        and their processing can’t be parallelized in an efficient manner 
                        within a reasonable time and amount of effort.</li>
                    <li>The software packages that you are using are incompatible with our 
                        back-end architecture and can’t be easily substituted to other 
                        software packages with similar functionality.</li>
                </ul>

                <h3>5. CUSTOMER CONDUCT: UNLAWFUL AND PROHIBITED USE</h3>

                <p>5.1. As a condition of your use of our Website, you warrant 
                    to NGS Pipeline that you will not use our Services and Materials 
                    for any purpose that is prohibited by this Agreement and that may 
                    cause damage to our Website or impairment of its availability.
                    You explicitly agree that you will not use the Website, 
                    Services or Materials in the following ways, including but not limited to:</p>
                <ul>
                
                    <li>upload to our Website any content that you do not have a right to transmit
                        under any law or contractual relationships or that infringes any patent, 
                        trademark, copyright or other proprietary rights of any party (such as inside,
                        proprietary or confidential information);</li>
                    <li>transmit or attempt to transmit through our Website any unsolicited or 
                        unauthorized advertising, junk mail, spam or any other form of solicitation;</li>
                    <li>transmit or attempt to transmit through our Website any materials that contains 
                        viruses or any other malicious computer software;</li>
                    <li>use automated software or scripts/robots to access, crawl or spider any web 
                        pages contained in the Website;</li>
                    <li>engage in framing, mirroring, or otherwise simulating the appearance or functions 
                        of our Website;</li>
                    <li>interfere with any other party’s use of our Services and Materials or intentionally 
                        use the Website in a manner that could damage, disable or overburden our systems;</li>
                    <li>override or attempt to override any security component of our Website, make attempts
                        to obtain any materials or information through any means not intentionally made 
                        available or provided for you;</li>
                    <li>participate in any other unlawful, illegal, fraudulent or harmful activity using 
                        our Website, intentionally or unintentionally violate any applicable local, state, 
                        national, or international law, or any regulations having the force of law.</li>
                </ul>

                    <p>5.2. You acknowledge and agree that you are solely responsible for any breach of 
                        your obligations under the TOS and for the consequences of any such breach. 
                        If you violate the TOS, or if NGS Pipeline has a reasonable ground to suspect
                        that you have violated the TOS, we have the right to suspend or terminate your 
                        account and refuse any current or future use of the Services and Materials.</p>

                    <h3>6. OWNERSHIP OF INFORMATION </h3>

                    <p>6.1. Subject to this Agreement, NGS Pipeline hereby grants you a limited, 
                        revocable, non-transferable and non-exclusive license to use the Services 
                        and Materials to the extent, and only to the extent, necessary to access 
                        and use them in accordance with this Agreement. </p>

                    <p>6.2. We do not hold ownership of the Public Materials (such as sample datasets,
                        reference genomes, gene annotations etc.) in any way, so the reuse and
                        redistribution of these materials is governed by the rules and terms 
                        imposed by their owner/creator. The Private Materials (such as articles, 
                        guides, informational texts, design and layout, graphics etc.) have been 
                        created or acquired by NGS Pipeline and should not be redistributed or 
                        reused without explicit and prior consent from our side.</p>

                    <p> 6.3. The aforementioned license does not permit you to copy, reproduce, 
                        modify, distribute, transfer, display, reverse engineer or otherwise 
                        use our Services and Materials in any way other than as specifically 
                        permitted in this Agreement. Downloading, copying or printing individual 
                        pages and/or parts of this Website is allowed for personal use only, 
                        and will not transfer title to any software or material on this Website to you.
                        Explicit attribution to NGS Pipeline must be made in the event that any material 
                        on this Website, or any part thereof, is reproduced in any form, written 
                        or electronic. Furthermore, any reproduction, re-publication or distribution
                        of any material on this Website requires the express consent of NGS Pipeline. </p>

                     <p>6.4. You also acknowledge and agree that under the terms of this Agreement 
                         you may not in any manner commercially exploit the Services and Private Materials 
                         (sell, rent, sub-license etc.), in whole or in part, in a way other than as 
                         expressly permitted in this Agreement. </p>

                     <h3>7. INDEMNIFICATION</h3>

                    <p>7.1. You hereby agree to indemnify, hold harmless and defend NGS Pipeline and 
                        its officers, directors, employees, agents, affiliates and subsidiaries 
                        (collectively, the <b>"Indemnified Parties"</b>) from and against any losses,
                        damages, costs, liabilities and expenses (including but not limited to attorneys’
                        fees), incurred or made against the Indemnified Parties in connection with 
                        any claim arising from or related to (i) your use of the Services and
                        Materials of our Website, or (ii) your Content. This includes, but is 
                        not limited to, any breach or violation of this Agreement by you or anyone 
                        utilizing your account. </p>


                    <h3>8. DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY</h3>

                    <p>8.1. The information on this Website is provided on “as is” and “as available”
                        basis. NGS Pipeline expressly disclaims, to the fullest extent permitted 
                        by applicable law and/or regulation, any express or implied warranties 
                        with regard to the accuracy, timeliness, suitability, completeness or 
                        availability of the information on this Website. Also, NGS Pipeline 
                        explicitly makes no warranty that the access to this Website will be 
                        uninterrupted, timely and error-free and that the services provided 
                        will meet your requirements and expectations.</p>

                        <p>8.2. You acknowledge and agree that our Services might contain errors, 
                            either in our proprietary software or in third-party software packages 
                            used by us. As the software is updated and technology evolves, we are 
                            constantly upgrading our system to provide the best possible user 
                            experience for our customers. </p>

                    <p>8.3. Under no circumstances shall NGS Pipeline be liable to anyone for any
                        damages arising in tort, contract, strict liability or otherwise from access
                        to or use of or inability to access or use this Website, or from any action
                        taken or not taken as a result, regardless of whether these damages are direct,
                        indirect, special, incidental or consequential of any character,
                        including lost profits, loss of contracts or business relationships, 
                        loss of reputation or goodwill, loss or corruption of information or 
                        data or any other tangible or intangible losses. These limitations of 
                        liability apply even if NGS Pipeline has been expressly advised of the
                        potential losses. </p>

                    <p>8.4. As a corporation, NGS Pipeline has an interest in limiting the
                        personal liability of its officers and employees. You agree that you 
                        will not bring any claim personally against NGS Pipeline’s officers
                        or employees in respect of any losses you suffer in connection with the
                        Website. You also agree that the limitations of warranties set out in 
                        this document will protect our officers and employees as well as 
                        NGS Pipeline. </p>


                    <h3>9. TERMINATION </h3>

                        <p>9.1. We may modify, replace, refuse access to, suspend or discontinue 
                            any of our Services, partially or entirely, or add, change and modify
                            prices for all or part of the Services for you or for all our users
                            at any time and in our sole discretion. </p>

                    <p>9.2. NGS Pipeline shall have the right not to proceed with the provision of 
                        the Services in case you breach this Agreement. In case of suspension of 
                        Services provision due to any reason, we will notify you by sending an email. </p>


                    <h3>10. SEVERABILITY</h3>

                    <p>10.1. If any provision of this Agreement is determined by any court or other 
                        competent authority to be unlawful and/or unenforceable, the other provisions
                        will continue in effect. If any unlawful and/or unenforceable provision would 
                        be lawful or enforceable if part of it were deleted, that part will be deemed 
                        to be deleted, and the rest of the provision will continue in effect. </p>


                    <h3>11. LAW AND JURISDICTION </h3>

                    <p>11.1. This Agreement and any disputes arising out of it shall be governed by 
                        the substantive and procedural laws of the state of Michigan without 
                        regard to its rules on conflicts or choice of law and, to the extent 
                        applicable, the laws of the United States of America. </p>


                    <h3>12. NOTICES, REGISTRATION AND AUTHORIZATION </h3>

                    <p>12.1. Official notices related to these TOS must be sent to us at: </p>
                    <p>
                    NGS Pipeline Inc. <br/>
                    ATTN: Chief Executive Officer <br/>
                    900 Wilshire Drive, STE 202-45 <br/>
                    Troy, MI 48084 
                    </p>

                    <p>NGS Pipeline Inc. is registered with Michigan Department of Licensing and 
                        Regulatory Affairs. <br/>
                        The registration number is [NUMBER]. <br/>
                        EIN of NGS Pipeline Inc. is [NUMBER]. <br/>
                        The registered address of NGS Pipeline Inc. is 900 Wilshire Drive, STE 202-45, Troy, MI 48084.</p>

        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-md-12">
            Copyright NGS Pipeline
            <small>© 2016</small><br>
            Please contact us at 
            <a href="mailto:support@ngspipeline.com">support@ngspipeline.com</a>
        </div>
    </div>
</div>