<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> 25th June 2016</span>
                        <h1>
                            SNPs and Indels
                        </h1>
                    </div>
                    <p>
                    SNPs
                    heterozygous and homozygous
                    synonomous and non-synonomous SNPs
                    
                    SNPs that are not in protein-coding regions may still affect gene splicing, transcription 
                    factor binding, messenger RNA degradation, or the sequence of non-coding RNA. Gene expression 
                    affected by this type of SNP is referred to as an eSNP (expression SNP) and may be upstream or
                    downstream from the gene.
                    
                    Appications of SNPs: association studies, haplotype mapping
                    
                    SNPs occur in non-coding regions more frequently than in coding regions
                    
                    Kidd has demonstrated that a panel of 19 SNP can identify the ethenic 
                    group with good probability of match in 40 population groups studied.
                    
                    development of STR based DNA fingerprinting technique
                    
                    synonymous substitutions by definition do not result in a change of 
                    amino acid in the protein, but still can affect its function in other 
                    ways. An example would be a seemingly silent mutation in the multidrug
                    resistance gene 1 (MDR1), which codes for a cellular membrane pump 
                    that expels drugs from the cell, can slow down translation and allow
                    the peptide chain to fold into an unusual conformation, causing the 
                    mutant pump to be less functional.
                    
                    SNPs are frequently referred to by their dbSNP rs number
                    
                    tag SNPs and linkage disequilibrium
                     tag SNPs are representative of all SNPs within a haplotype
                     tag SNP selection problem is NP complex.
                    
                    GWAS
                    
                    Microsatellites are widely used for DNA profiling in kinship analysis (most commonly in paternity testing) and in forensic identification (typically matching a crime stain to a victim or perpetrator). 
                    
                    missense - single change in the base results in change in amino acid of protein and its malfunction which leads to disease (e.g. c.1580G>T SNP in LMNA gene - position 1580 (nt) in the DNA sequence (CGT codon) causing the guanine to be replaced with the thymine, yielding CTT codon in the DNA sequence, results at the protein level in the replacement of the arginine by the leucine in the position 527,[25] at the phenotype level this manifests in overlapping mandibuloacral dysplasia and progeria syndrome)
nonsense - point mutation in a sequence of DNA that results in a premature stop codon, or a nonsense codon in the transcribed mRNA, and in a truncated, incomplete, and usually nonfunctional protein product (e.g. Cystic fibrosis caused by the G542X mutation in the cystic fibrosis transmembrane conductance regulator gene).[
                    
                    InDels
                    CNVs    
                    </p>
                    
                    <h3>SNP databases</h3>
                   
                    <hr>
                </div>
            </div>
        </div>
    </div>


</div>