<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> 20th June 2016</span>
                        <h1>
                            What is reference genome?
                        </h1>
                    </div>
                    <p>
                        There are two basic kinds of tasks that are solved by bioinformaticians working with a DNA:
                        first, one can assemble a genome de novo, and, second, one can align the reads to a reference genome.
                        But what exactly is this reference genome? Who does it belong to, and who sequenced it?
                        Why do we compare our reads with it, and how different is a particular living creature from this 
                        "referent" human being, mouse or dog?
                    </p>
                    <p>
                        Actually, there  
                        haploid
                    </p>
                    <h3>Human genome project</h3>


                    <h3>Versions of the human reference genome</h3>
                    <p>Let's start with the human first. Current version o</p>

                    Each institution has its own version of the reference genome. 
                    UCSC
                    NCBI
                    Ensembl?
                    
                    The human reference genome sequence is maintained by the Genome Reference Consortium (GRC). 
                    
                    The current version is called GRCh37 (also referred to as hg19), older versions are NCBI36 
                    (hg18), NCBI35 (hg17) etc. etc.
                    
                    Unlike the previous assemblies NCBI36 etc. GRCh37 does include some alternative regions that attempt to 
                    cover some parts of the genome known to be highly variant between individuals (the MHC region for instance).
                    
                    Note that the reference sequence is a mosaic haploid genome, meaning that it is assembled from mulitple 
                    individuals but only ever lists one individual's sequence at any given locus. This can have the unfortunate 
                    (but rare) effect of some regions of the reference having a haplotype which has never existed in any human population.

The major browsers (Ensembl, UCSC, NCBI MapViewer) are all using the GRCh37 assembly.

                    What is haplotype?
                    
                    because it is derived from just a few individuals, for part of the sequence variants the reference sequence contains the minor allele.

                    Genome Reference Consortium (GRC)

                    Complex genome
                    
                    Genome in a Bottle
                    
                    <h3>GRC h37 = hg19</h3>
                    
                     <h3>Alternate loci</h3>
                     MHC region (major histocompatibility complex)

                    //a кто собирал референтный геном для собак и кошек?
                    <hr>
                </div>
            </div>
        </div>
    </div>


</div>