<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> 16th June 2016</span>
                        <h1>
                            FASTA/FASTQ format
                        </h1>
                    </div>
                    <p>
                        One of the first things you face as a newbie bioinformatician are files in FASTA/FASTQ format.
                        They are a de facto standard for storing raw input data in bioinformatics and are widely used
                        across the industry.
                        So, what exactly do these files look like?
                    </p>
                    <p>
                        First, let's discuss where FASTA/FASTQ files come from and what kind of information they contain.</p>
                    <h3>1. NGS library preparation</h3>

    

                    <br/>


                    First, in most cases we don't need to sequence the whole genome (it is quite costly), but only 
                    certain genes in it.
                    Primers can stick to a particular part of the genome and act as markers. 
                    Usually 
                    when a researcher is interested in a particular gene, he orders a primer that is complementary to a 
                    particular spot on the genome close to that gene. The primer sticks to this spot and marks the place 
                    starting from which the sequencing device should read the data.
                    //как работают панели?

                    <h3>FASTA format</h3>

                    Tradeoff between coverage depth and breadth of the survey (whole genome with good coverage is extremely expensive)

                    targeted gene sequencing
                    Gene panels can be purchased with preselected content or custom designed to include genomic regions of interest.
                    Targeted gene sequencing also produces a smaller, more manageable data set compared to broader 
                    approaches such as whole-genome sequencing, making analysis easier.
                    </p>                     
                    <p>
                        DNA polymerases can only add nucleotides to existing parts of DNA, not at any random spot of the chain. 
                    </p>
                    <p>
                        So they stick, and the dNTP begins rebuilding the chain, which is detected by the reader and recorded as
                        a FASTA sequence.

                        DNA polymerase synthesizes DNA from deoxyribonucleotides.
                        DNA polymerase и dNTP -- это одно и то же?

                        No known DNA polymerase is able to begin a new chain (de novo); it can only add a nucleotide onto a
                        pre-existing 3'-OH group, and therefore needs a primer at which it can add the first nucleotide

                        Получается адаптеры -- это тоже праймеры?

                        Fluorescency -- как используется?
                        Primers are used to mark the parts of DNA/RNA that are going to be sequenced, as in most cases you don't
                        want to sequence the whole genome (it's very costly) but only particular parts of it.
                        Primers possess chemical structure that allows them to bind to the specific sites on the genome marking
                        these sites for further processing.</p>


                    dNTP copies each chain, and then                     
                    How does Illumina know which strands are forward and which are reverse?
                    This is how the quality of the read is determined.

                    The technique commonly used in molecular biology for to amplify a single copy of DNA fragment into 
                    multiple copies is PCR (polymerase chain reaction).


                    Fluorescently labeled nucleotides
                    Solid phase amplification generates copies around the template molecule.
                    Sequencing by synthesis and dNTP

                    Here's a very good video from Illumina that visualizes the whole process.

                    <b class="text-navy">Flow cell</b> has lanes

                    a lab technician 
                    prepares special chips which have fragmented 
                    nucleotide sequences attached to them. These fragmented sequences are created from long DNA or RNA 
                    nucleotide chains by cutting these chains into pieces of random length. 

                    The cutting and attachment process
                    is done using special chemical compounds that are included in <b class="text-navy">library preparation kits</b>
                    and are usually supplied by the same companies that manufacture the sequencing devices.                       
                    </p>
                    <p>
                        Every chip has several millions fragments attached. The device "reads" these nucleotide sequences, nucleotide
                        by nucleotide (base by base), in parallel fashion and records the information about them in the FASTA/FASTQ file. Every record in the file is
                        called a <b class="text-navy">read</b>. Devices differ from each other by number of the reads they can
                        produce per unit of time. For example, Illumina HiSeq produces circa XXX reads per hour and can
                        read XXX nucleotides per run.
                        Measured in kilobases per run!!!
                        And cost per gigabase.

                        Library preparation kits
                        throughput per run

                        Because of limitations in DNA sequencer technology these reads are short compared to the length of
                        a genome therefore the reads must be assembled into longer contigs.[7] The data may also contain 
                        errors, caused by limitations in the DNA sequencing technique or by errors during PCR amplification.
                        DNA sequencer manufacturers use a number of different methods to detect which DNA bases are present.
                        The specific protocols applied in different sequencing platforms have an impact in the final data that
                        is generated. Therefore, comparing data quality and cost across different technologies can be 
                        a daunting task. Each manufacturer provides their own ways to inform sequencing errors and scores. 
                        However, errors and scores between different platforms cannot always be compared directly. Since 
                        these systems rely on different DNA sequencing approaches, choosing the best DNA sequencer and
                        method will typically depend on the experiment objectives and available budget.[2]

                        prone to errors when estimating the number of bases in a long string of identical nucleotides. This is referred to as a homopolymer error 
                        HiSeq data output per run is circa 600 Gb
                        Run takes several days
                        Cost per run is 6000 USD
                    </p>
                    <p>Current technology allows the scientists to read only relatively short 
                        fragments (120-150 nucleotides), so the next challenge is to assemble those small fragments back into 
                        a genome. To make this task a little bit easier, the sequencers attach extra information to every read
                        that allows to trace back its relative location, as well as to assess how sure can we be about
                        every nucleotide in every read.

                        Paired-ended sequencing produces twice the same number of reads for the same time and effort in library
                        preparation. One can detect InDels only with paired-ended, not with single-ended data.

                    <h3>1. Sequencing by synthesis</h3>
                    <h3>2. Long read sequencing</h3>
                    <h3>3. RNA-Seq technology</h3>
                    <h3>4. Paired-end sequencing</h3>
                    <h3>5. Single-end sequencing</h3>
                    <h3>6. Multiplex sequencing</h3>
                    <h3>7. Mate pair sequencing</h3>
                    <h3>8. Deep sequencing</h3>

                    DNA sequencing -- whole genome sequencing, CHiP sequencing, targeted resequencing
                    Since paired-end reads are more likely to align to a reference, the quality of the entire data set improves.
                    Paired-end DNA sequencing reads provide superior alignment across DNA regions containing repetitive sequences, 
                    and produce longer contigs for de novo sequencing by filling gaps in the consensus sequence.


                    <p>
                        So, let's finally move to the FASTA format topic and what kind of information is stored in the files of 
                        this format.
                        FASTA format is a text-based format that contains information about nucleotide sequences. 
                        Every record in the file represents a sequence and consists of two lines.

                        Why is it important to understand the basics of lab process to work with FASTA files?
                        1. Removing adapters
                        2. Quality of the reads
                        3. How to we distinguish between forward and reverse strand reads?
                        4. What are lanes for, and what is encoded in FASTA heading?
                    </p>

                    <p>
                        The first line starts with '>' symbol and is basically the "name" of the sequence, its
                        unique identifier. This identifier describes the following characteristics of the sequence:
                    <ul>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                    </ul>
                    This gives you the information about 

                    Each nucleotide
                    in every sequence is represented by a single letter code (A, C, G or T).
                    Moreover, every sequence is annotated by a name                    </p>
                    <p>
                        Two driven jocks help fax my big quiz. Quick, Baz, get my woven flax jodhpurs! "Now fax quiz Jack!" my brave ghost pled. Five quacking zephyrs jolt my wax bed. Flummoxed by job, kvetching W. zaps Iraq. Cozy sphinx waves quart jug of bad milk. A very bad quack might jinx zippy fowls. Few quips galvanized the mock jury box. Quick brown dogs jump over the lazy fox. The jay, pig, fox, zebra, and my wolves quack! Blowzy red vixens fight for a quick jump. Joaquin Phoenix was gazed by MTV for luck. A wizard’s job is to vex chumps quickly in fog. Watch "Jeopardy!", Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just
                    </p>
                    <p>
                        Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim. Sex-charged fop blew my junk TV quiz. How quickly daft jumping zebras vex.
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>


</div>