<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="login_page">Login</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" page-scroll href="#page-top">Home</a></li>
                    <li><a class="page-scroll" page-scroll href="#summary">Our services</a></li>
                    <li><a class="page-scroll" page-scroll href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel" >
    <ol class="carousel-indicators">
        <li data-target="inSlider" data-slide-to="0" class="active"></li>
        <li data-target="inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>We make bioinformatics <br/>
                        data processing<br/>
                        a seamless and easy process<br/>
                        for our clients</h1>
                    <p>Upload your sample and get meaningful results in a few minutes</p>
                    <p>
                        <a ui-sref="create_account" class="btn btn-lg btn-primary"> FREE TRIAL </a>
                        <a class="caption-link">Align your reads to a reference DNA</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="img/landing/laptop.png" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <h1>For professional <br/> bioinformaticians<br/> we offer a lot more
                        <br/>flexibility</h1>
                    <p>You can run your custom scripts in our cluster environment</p>
                    <p><a class="btn btn-lg btn-primary" ui-sref="create_account" role="button">Learn more</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="img/landing/laptop.png" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" data-target="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<section id="summary" class="container services">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>NGS Pipeline</h1>
            <p>Our goal is to make the complex world of bioinformatics more accessible and fun 
                for everyone. </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6">
            <small>SIMPLICITY</small>
            <h2>Make your first steps in bioinformatics</h2>
            
            <p> When you start learning new stuff,
                it's important to grasp all the key concepts easily and intuitively.
                Instead, the first thing you face as a newbie bioinformatician is a console window 
                and 10 different tools you need to install on your computer. Plus, 
                you need to know Linux, R, Python...</p>
            <h4>That is where NGS Pipeline makes a difference.</h4>
            <p>
                We value your time and move you
                straight to the most interesting part. You will get the desired results quickly,
                in a clear and visualized way.</p>
             <p><b>Enjoy a user-friendly introduction to bioinformatics, one of the most interesting disciplines 
                 in the world that you always wanted to know more about. </b></p>
            <a href="" class="btn btn-primary">Start free trial</a>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="img/landing1.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
        
    <div class="row features-block">
        <div class="col-lg-6 text-right wow fadeInLeft">
            <img src="img/landing2.png" alt="dashboard" class="img-responsive pull-left">
        </div>
        <div class="col-lg-6 features-text wow fadeInRight">
            <small>TECHNOLOGY</small>
            <h2>Use preconfigured cluster facilities out-of-box </h2>
            <p> Bioinformatics is in many ways all about processing a lot of data, which often can't be done
                 on a client machine. For example, the size of a human genome file is 3.5 Gb, and when you try
                 to index it on your MacBook Air with 4 Gb RAM, it takes hours and hours.</p>
                <p>We empower our users with an amazing opportunity to execute their pipelines on a full-blown cluster                    without
                     knowing anything about distributed computing. Every pipeline is launched with a single 
                     click in an Apache Mesos virtual container with 32 cores and 16 Gb RAM, so processing takes minutes 
                     rather than hours.                   
                </p>
                <a href="" class="btn btn-primary">Learn more</a>
        </div>

    </div>


    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>STORAGE</small>
            <h2>Store all your data in a cloud </h2>
            <p>Up to 2 GB of free storage available for your files at any time for free. Manage your input and
                output files in a convenient way.</p>             
            <a href="" class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="img/landing3.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>

    <div class="row features-block">
        <div class="col-lg-6 text-right wow fadeInLeft">
            <img src="img/landing4.png" alt="dashboard" class="img-responsive pull-left">
        </div>
        <div class="col-lg-6 features-text wow fadeInRight">
            <small>FLEXIBILITY</small>
            <h2>Get access to your own custom pipelines through our system</h2>
            <p>If you are a professional user who wants to run his own pipeline, with specific tuned parameters,
                we can address your needs. Let us know, and we'll create a custom pipeline in our system that
                will be available for you in your user account. On our side, we will take care of efficiently
                running it in parallelized environment of an HPC, so you won't need to bother about
                writing these algorithms on your own and will be able to focus on your area of expertise.
            </p>
            <a href="" class="btn btn-primary">Learn more</a>
        </div>

    </div>
</section>
    
    <!--

    <div class="row">
        <div class="col-sm-3">
            <h2>Get your results quickly</h2>
            <p> We value your time, so by "quickly" we literally mean getting your output in 2 clicks in your browser.
                We will allow you to focus on the interesting part of analyzing your results via a user-friendly 
                interface of any application convenient for you. No more debugging of shell scripts and wading
                through manuals. No need to configure a lengthy pipeline in a web application with buggy and crooked interface.
            </p>
            <p><a class="navy-link" href="#" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Use cluster facilities</h2>
            <p>Bioinformatics is a data intensive area. With access to our cluster facilities you can process
                gigabyte files on the fly without bothering about IT infrastructure. We run Apache Mesos and DC/OS
                on an HPC-cluster to execute your computations efficiently.</p>
            <p><a class="navy-link" href="#" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Store your data</h2>
            <p>Up to 2 GB of free storage available for your files at any time for free. Manage your input and
                output files in a convenient way.</p>
            <p><a class="navy-link" href="#" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Advanced options</h2>
            <p>If you are a professional user who wants to run his own pipeline, with specific tuned parameters,
                we can address your needs. Let us know, and we'll create a custom pipeline in our system that
                will be available for you in your user account. On our side, we will take care of efficiently
                running it in parallelized environment of an HPC, so you won't need to bother about
                writing these algorithms on your own and will be able to focus on your area of expertise.</p>
            <p><a class="navy-link" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
</section>




<section  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Over 40+ unique view<br/> <span class="navy"> with many custom components</span> </h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-mobile features-icon"></i>
                <h2>Full responsive</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bar-chart features-icon"></i>
                <h2>6 Charts Library</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="img/landing/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-envelope features-icon"></i>
                <h2>Mail pages</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-google features-icon"></i>
                <h2>AngularJS version</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Discover great feautres</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>INSPINIA</small>
            <h2>Perfectly designed </h2>
            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
            <a href="" class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="img/landing/dashboard.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
</section>


<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our services</h1>
                <p>At NGS Pipeline we aim to make bioinformatics a fun and engaging activity. </p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-3 features-text wow fadeInLeft">
                <small>For newbie bioinformaticians</small>
                <h2>Best platform to learn the basics </h2>
                <p> Have fun with bioinformatics.
                    Make your learning curve steeper and get to the interesting part right away.</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                <img src="img/landing/iphone.jpg" class="img-responsive" alt="dashboard">
            </div>
            <div class="col-lg-3 features-text text-right wow fadeInRight">
                <small>For professional users</small>
                <h2>Your pipelines on our servers </h2>
                <p>Use our facilities for data processing instead of setting up your own cluster environment in
                    your lab and wasting your time trying to maintain it.</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
        </div>
    </div>

</section>
    
     -->


<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>If you have any questions, please feel free to email us.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2016 NGS Pipeline</strong><br/></p>
            </div>
        </div>
    </div>
</section>

<!-- Local script for menu handle -->
<!-- It can be also directive -->

<script>
    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function (event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');

        });


    });

    var cbpAnimatedHeader = (function () {
        var docElem = document.documentElement,
                header = document.querySelector('.navbar-default'),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener('scroll', function (event) {
                if (!didScroll) {
                    didScroll = true;
                    setTimeout(scrollPage, 250);
                }
            }, false);
        }
        function scrollPage() {
            var sy = scrollY();
            if (sy >= changeHeaderOn) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();
</script>