<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="login_page">Login</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" page-scroll href="#page-top">Home</a></li>
                    <li><a class="page-scroll" page-scroll href="#summary">Our services</a></li>
                    <li><a class="page-scroll" page-scroll href="#guides">Guides</a></li>
                    <li><a class="page-scroll" page-scroll href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel" >
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>We make bioinformatics <br/>
                        data processing<br/>
                        a seamless and easy process<br/>
                        for our clients</h1>
                    <p>Upload your sample and get meaningful results in a few minutes</p>
                    <p>
                        <a ui-sref="create_account" class="btn btn-lg btn-primary"> FREE TRIAL </a>
                        <a class="caption-link">Align your reads to a reference genome</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="img/landing/laptop.png" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
    </div>
</div>


<section id="summary" class="container services">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><b>NGS Pipeline</b></h1>
            <p>Our goal is to make the complex world of bioinformatics more accessible and fun 
                for everyone </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6">
            <small>SIMPLICITY</small>
            <h2>Make your first steps in bioinformatics</h2>

            <p> When you start learning new stuff,
                it's important to grasp all the key concepts easily and intuitively.
                Instead, the first thing you face as a newbie bioinformatician is a console window 
                and 10 different tools you need to install on your computer. Plus, 
                you need to know Linux, R, Python...</p>
            <h4>That is where NGS Pipeline makes a difference.</h4>
            <p>
                We value your time and move you
                straight to the most interesting part. You will get the desired results quickly,
                in a clear and visualized way.</p>
            <p><b>Enjoy a user-friendly introduction to bioinformatics, one of the most interesting disciplines 
                    in the world that you always wanted to know more about. </b></p>
            <a ui-sref="create_account" class="btn btn-primary">Start free trial</a>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="img/landing1.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>

    <div class="row features-block">
        <div class="col-lg-6 text-right wow fadeInLeft">
            <img src="img/landing2.png" alt="dashboard" class="img-responsive pull-left">
        </div>
        <div class="col-lg-6">
            <small>TECHNOLOGY</small>
            <h2>Use preconfigured cluster facilities out-of-box </h2>
            <p> Bioinformatics is all about processing gigabytes of raw data, which usually can't be done
                efficiently on a client device. For instance, a basic task such as
                indexing a human genome and aligning the reads to it takes hours and hours on a typical Macbook Air.</p>
            <h4>We run your pipelines in an HPC-cluster.</h4>
            <p>  We empower you with an ability to do any operation in less than a couple of minutes.
                We use enterprise-class parallel computing technology stack to make it work
                (DC/OS, Apache Mesos, OpenStack). Each of your pipelines can be launched in a container 
                with up to 60 vCPUs and 128 Gb RAM. For heavylifters, we also offer MPI and 
                InfiniBand at request.
            </p>
            <p><b>Speed up your data processing, and let us take care of the IT infrastructure for you. </b></p>

        </div>

    </div>


    <div class="row features-block">
        <div class="col-lg-6">
            <small>STORAGE</small>
            <h2>Store all your datasets in a private cloud </h2>
            <p>We provide up to 5 GB free storage for your input files. This doesn't include the 
                bulky genome data files, which we keep stored in our shared
                repository and available for you at any time.</p>
            <h4>We also have a library of sample datasets with dozens of interesting cases.</h4>
            <p>
                You can run the pipeline jobs on these sample datasets to see how the process works,
                and of course the output from these jobs will not count towards your storage space.
                Every dataset can be downloaded for free and later used in any bioinformatics software you want.
            </p>            
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="img/landing3.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>

    <div class="row features-block">
        <div class="col-lg-6 text-right wow fadeInLeft">
            <img src="img/landing4.png" alt="dashboard" class="img-responsive pull-left">
        </div>
        <div class="col-lg-6">
            <small>FLEXIBILITY</small>
            <h2>Get instant access to your legacy pipelines in your browser</h2>
            <p> 
                We can also address your needs if you are a professional bioinformatician. 
                Say, you have your own custom and tuned set of pipelines, but your hardware
                is insufficient to run them fast enough. Or you don't want to dig into details 
                of how to run your pipelines in a cluster environment.        
            </p>
            <h4>We can implement your legacy pipelines in our system for you.</h4>
            <p>
                Send us an email with either your script or even simply a description of the steps you
                take when processing you data. We will implement 
                your pipeline in our system making it accessible for you in a single click
                via your private account. </p>
            <p><b>Focus on your core area of expertise and let us take care about the rest</b></p>               
            <a href="mailto:support@ngspipeline.com" class="btn btn-primary">Send us email to get started</a>

        </div>
    </div>
</section>


<section id="guides" class="white-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Guides and FAQs</h1>
                <p>All the basic information you need to know to get started</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft" ui-sref="blog.article4" style="cursor:pointer">
                <div class="team-member">
                    <img src="img/guides/logo1.png" class="img-responsive img-small"  alt=""/>
                    <h4><span class="navy">Genomics 101: </span> What is going on in the lab?</h4>
                    <p>Learn how to get the reads from the raw data with Illumina</p>

                </div>
            </div>
            <div class="col-sm-4" ui-sref="blog.article1" style="cursor:pointer">
                <div class="team-member wow zoomIn" >
                    <img src="img/guides/logo2.png" class="img-responsive img-small  alt=""/>
                    <h4><span class="navy">Reading the genetic code: </span> FASTA/FASTQ formats</h4>
                    <p>Understand how bioinformaticians store the raw data about nucleotides</p>

                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight" ui-sref="blog.article5" style="cursor:pointer">
                <div class="team-member" >
                    <img src="img/guides/logo3.png" class="img-responsive img-small"  alt=""/>
                    <h4><span class="navy">Reference genome: </span> where does it come from?</h4>
                    <p>Figure out who is the default homo sapiens we compare ourselves to</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>If you have any questions, please feel free to email or call us.</p>
                <p><a href="tel:+17029972545">+1 (702) 9972545</a></p>
                <p><a href="mailto:support@ngspipeline.com">support@ngspipeline.com</a></p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2016 NGS Pipeline</strong><br/></p>
            </div>
        </div>
        <div class="row">
            <a ui-sref="privacy_policy" >Privacy policy</a> 
            
        </div>
    </div>
</section>

<!-- Local script for menu handle -->
<!-- It can be also directive -->

<script>
    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function (event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');

        });


    });

    var cbpAnimatedHeader = (function () {
        var docElem = document.documentElement,
                header = document.querySelector('.navbar-default'),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener('scroll', function (event) {
                if (!didScroll) {
                    didScroll = true;
                    setTimeout(scrollPage, 250);
                }
            }, false);
        }
        function scrollPage() {
            var sy = scrollY();
            if (sy >= changeHeaderOn) {
                $(header).addClass('navbar-scroll')
            } else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scroll
    new WOW().init();
</script>