<fieldset>

    <div class="row">
        <div class="col-lg-8">

            <div class="ibox">
                <div class="ibox-title">
                    <h4>Download your output files</h4>
                </div>
            <div class="ibox-content">
                <table class="footable table table-stripped">
                    <thead>
                        <tr>

                            <th >File type</th>
                            <th >File name</th>
                            <th >Description</th>
                            <th class="text-right">File size</th>
                            <th ></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>.BAM</td>
                            <td>File1.bam</td>
                            <td>Contains information about the reads aligned to the genome</td>
                            <td class="text-right">2 GB</td>
                            <td class="text-right">
                                <div class="input-group pull-right">
                                    <button class="btn-success btn btn-xs"><i class="fa fa-download"></i></button>
                                </div>
                            </td>
                        </tr>          
                        <tr>
                            <td>.VCF</td>
                            <td>File1.vcf</td>
                            <td>Aggregate data on SNPs and InDels</td>
                            <td class="text-right">1 GB</td>
                            <td class="text-right">
                                <div class="input-group pull-right">
                                    <button class="btn-success btn btn-xs"><i class="fa fa-download"></i></button>
                                </div>
                            </td>
                        </tr>  
                        <tr>
                            <td>.CSV</td>
                            <td>File1.csv</td>
                            <td>Annotated information matched with SNP databases</td>
                            <td class="text-right">100 MB</td>
                            <td class="text-right">
                                <div class="input-group pull-right">
                                    <button class="btn-success btn btn-xs"><i class="fa fa-download"></i></button>
                                </div>
                            </td>
                        </tr>   
                    </tbody>
                    <tfoot>                          
                    </tfoot>
                </table>
            </div>
            </div>


            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>What can we say about this person from the annotated VCF file? (some examples)</h4>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped">
                        <thead>
                            <tr>

                                <th ></th>
                                <th >Characteristic</th>

                                <th >Value</th>  
                                <th >How do we know it?</th>
                                <th class="pull-right"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Blood type (ABO system)</td>
                                <td>O</td>
                                <td>4 SNPs in ABO gene, chromosome 9</td>
                                <td class="text-right">
                                    <div class="input-group pull-right">
                                        <button class="btn-primary btn btn-xs"
                                                data-toggle="modal" data-target="#myModal1">
                                            <span>Learn more</span></button>
                                    </div>


                                    <div class="modal inmodal fade" id="myModal1" tabindex="-1" role="dialog"  aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title">Blood type (ABO system)</h4>
                                                    <small class="font-bold">Can be determined quite precisely by 4 SNPs from a single gene on chromosome 9</small>
                                                </div>
                                                <div class="modal-body text-left">
                                                    <p>Although there is a plenty of blood type classifications (ABO, Kell, Duffy, Kidd, Lewis etc.),
                                                        ABO blood type system is definitely the one that is most popular and heavily used. The
                                                        ABO blood type is determined by a single gene (ABO) located on the chromosome 9.
                                                        It's amazing that this gene has extremely high linkage disequilibrium, so we can 
                                                        determine the blood type with sufficient precision by only 4 SNPs <i>(please note that
                                                            the rules below should be applied in turn, one by one)</i>.</p>

                                                    <table class="footable table table-stripped">
                                                        <thead>
                                                            <tr>
                                                                <th >rsID <br/> (dbSNP)</th>
                                                                <th >Gene</th>
                                                                <th >Exon</th>
                                                                <th >Position in exonic sequence</th>
                                                                <th >Position on chromosome</th>
                                                                <th >Reference</th>  
                                                                <th >Comments</th>
                                                                <th >Sequenced sample</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>rs8176719</td>
                                                                <td>ABO</td>
                                                                <td>6</td>
                                                                <td>261</td>
                                                                <td>chr9:136 132 908</td>
                                                                <td>Deletion</td>
                                                                <td>Deletion means that the person most likely has O blood type</td>
                                                                <td>Deletion</td>
                                                            </tr>
                                                            <tr>
                                                                <td>rs41302905</td>
                                                                <td>ABO</td>
                                                                <td>7</td>
                                                                <td>802</td>
                                                                <td>chr9:136 131 316</td>
                                                                <td>C</td>
                                                                <td>If A and no deletion on 261, then blood type is O</td>
                                                                <td>C</td>
                                                            </tr>
                                                            <tr>
                                                                <td>rs8176746</td>
                                                                <td>ABO</td>
                                                                <td>7</td>
                                                                <td>796</td>
                                                                <td>chr9:136 131 322</td>
                                                                <td>G</td>
                                                                <td>If C and 803=G, then blood type is A.
                                                                    If A and 803=C, then blood type is B.
                                                                    Otherwise, blood type is AB.
                                                                </td>
                                                                <td>T</td>
                                                            </tr>
                                                            <tr>
                                                                <td>rs8176747</td>
                                                                <td>ABO</td>
                                                                <td>7</td>
                                                                <td>803</td>
                                                                <td>chr9:136 131 315</td>
                                                                <td>T</td>
                                                                <td>If C and 803=G, then blood type is A.
                                                                    If A and 803=C, then blood type is B.
                                                                    Otherwise, blood type is AB.
                                                                </td>
                                                                <td>G</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <p>Of course, if we consider rare mutations, the process becomes a lot more complex,
                                                        as ABO gene is actually more than 18,000 nucleotides long. But the simple method
                                                        shown above works in 95% of cases for such prevalent subgroups as A101, A201, B101,
                                                        O001, O002 and O003. For rare cases, specialized databases (such as BGMUT) have detailed information
                                                        on all variants and mutations that have been observed so far.
                                                    </p>

                                                    <h4>References:</h4>
                                                    <ul>
                                                        <li>1. <a target="_blank" href="pdfs/1.pdf">Forensic ABO blood grouping by 4 SNPs analyses using an ABI PRISMR 3100 genetic analyzer (2006)</a></li>
                                                        <li>2. <a target="_blank" href="http://www.ncbi.nlm.nih.gov/projects/gv/mhc/xslcgi.cgi?cmd=bgmut/home">BGMUT website</a></li>
                                                        <li>3. <a target="_blank" href="pdfs/2.pdf">Demonstration of SNP Genotyping Using a Single Nucleotide Extension Method and the 3500 Series Genetic Analyzer</a></li>
                                                        <li>4. <a target="_blank" href="https://en.wikipedia.org/wiki/ABO_blood_group_system">Wikipedia article about ABO blood type system</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr> 
                            <tr>
                                <td>2</td>
                                <td>Hair type and structure</td>
                                <td>Thin, most probably straight hair</td>
                                <td>5 SNPs located on chr1, chr2 and chr6</td>
                                <td class="text-right">
                                    <div class="input-group pull-right">
                                        <button class="btn-primary btn btn-xs"
                                                data-toggle="modal" data-target="#myModal2"><span>Learn more</span></button>
                                    </div>

                                    <div class="modal inmodal fade" id="myModal2" tabindex="-1" role="dialog"  aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title">Hair type and structure</h4>
                                                    <small class="font-bold">Can be determined by 5 SNPs, polygenic feature</small>
                                                </div>
                                                <div class="modal-body text-left">
                                                    <p>Hair morphology is a polygenic characteristic that is highly correlated with
                                                        other phenotypic features such as skin and eye color, frecklings, hair color etc.
                                                        Many of the SNPs determining the hair curliness and structure are located in the
                                                        epidermal differentiation complex, which comprises a number of genes that are of 
                                                        crucial importance for maturation of human epidermis.
                                                    </p>

                                                    <table class="footable table table-stripped">
                                                        <thead>
                                                            <tr>
                                                                <th >rsID <br/> (dbSNP)</th>
                                                                <th >Gene</th>
                                                                <th >Exon</th>
                                                                <th >Position on chromosome</th>
                                                                <th >Reference</th>  
                                                                <th >Comments</th>
                                                                <th >Sequenced sample</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr><td colspan="7"><strong>Hair thickness</strong></td></tr>
                                                            <tr>
                                                                <td>rs3827760</td>
                                                                <td>EDAR</td>
                                                                <td>12</td>
                                                                <td>chr2:109 513 601</td>
                                                                <td>A</td>
                                                                <td>G-homozygotes have thick hair, while A-homozygotes and heterozygotes
                                                                    have thinner hair</td>
                                                                <td>AA</td>
                                                            </tr>

                                                            <tr><td colspan="7"><strong>Hair curliness</strong></td></tr>
                                                            <tr>
                                                                <td>rs17646946</td>
                                                                <td colspan="2">near TCHH</td>

                                                                <td>chr1:152 062 767</td>
                                                                <td>G</td>
                                                                <td>G-homozygotes are more likely to have curlier hair</td>
                                                                <td>GG</td>
                                                            </tr>
                                                            <tr>
                                                                <td>rs499697</td>
                                                                <td colspan="2">near LCE3E</td>

                                                                <td>chr1:152 493 154</td>
                                                                <td>G</td>
                                                                <td>G is associated with curlier hair
                                                                </td>
                                                                <td>AA</td>
                                                            </tr>
                                                            <tr>
                                                                <td>rs7349332</td>
                                                                <td colspan="2">intron of WNT10A</td>

                                                                <td>chr2:219 756 383</td>
                                                                <td>T</td>
                                                                <td>C-homozygotes are somewhat more likely to have straight
                                                                    hair
                                                                </td>
                                                                <td>CC</td>
                                                            </tr>
                                                            <tr>
                                                                <td>rs1556547</td>
                                                                <td colspan="2">near OFCC1</td>

                                                                <td>chr6:10 270 377</td>
                                                                <td>G</td>
                                                                <td>A-homozygotes are associated with straighter hair
                                                                </td>
                                                                <td>AA</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <h4>References:</h4>
                                                    <ul>
                                                        <li>1. <a target="_blank" href="https://books.google.ru/books?id=SGfSBQAAQBAJ">Forensic DNA Applications: An Interdisciplinary Perspective</a></li>
                                                        <li>2. <a target="_blank" href="pdfs/3.pdf">Web-Based, Participant-Driven Studies Yield Novel Genetic Associations for Common Traits (Erickson et. al)</a></li>
                                                        <li>3. <a target="_blank" href="pdfs/4.pdf">Common Variants in Trichohyalin Gene (Medland et. al)</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </td>
                            </tr>

                        </tbody>
                        <tfoot>                          
                        </tfoot>
                    </table>
                </div>
            </div>


        </div>

        <div class="col-lg-4">
            <div class="ibox-content">
                <h3>So what's next?</h3>
                <p> In order to make sense of the data, you can take a look at its graphical representation. </p> 
                <p>Please go to any of the websites listed below to download the viewer for your files: </p>

                <div class="row">
                    <div class="col-lg-6">
                        <button  class="btn-default btn btn-xs"><a target="_blank" href="http://goldenhelix.com/"><img src="img/helix_logo.png" /></a></button>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn-default btn btn-xs"><a target="_blank" href="https://www.broadinstitute.org/igv/"><img src="img/igv_logo.png" /></a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p><strong>Golden Helix</strong></p>
                    </div>
                    <div class="col-lg-6">
                        <p><strong>Broad Institute</strong></p>
                    </div>
                </div>
                <p>Once you've done it, download your .VCF and .BAM files from NGS Pipeline and take a look at them in the viewer you've
                    downloaded.</p> 
                <p> You will see the aligned reads, as well as the differences between your data and 
                    the reference genome, and you can do a quick and convenient search by the rsID or gene of your interest.</p>
            </div>
        </div>
    </div>


</fieldset>
<fieldset class="m-t-md">
    <a ui-sref="pipelines.methylation.step1({job: newc.job})" class="btn btn-default">Upload other dataset</a>
    <button type="submit" class="btn btn-primary">View my completed jobs</button>
</fieldset>
