<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown style="cursor:pointer">
                    <h1 class="text-navy" ui-sref="landing"><b>NGS</b></h1>
                    <h1 class="text-white text-center" ui-sref="landing"><b>Pipeline</b></h1>

                </div>
            </li>
            <li ng-class="{active: $state.includes('blog')}">
                <a href=""><i class="fa fa-table"></i> <span class="nav-label">Guides</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('blog')}">
                    <li ui-sref-active="active"><a ui-sref="blog.article4">Genomics 101: what is going on in the lab?</a></li>
                    <li ui-sref-active="active"><a ui-sref="blog.article1">FASTA/FASTQ format</a></li>
                    <li ui-sref-active="active"><a ui-sref="blog.article5">What is the reference genome?</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>