<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header" style="padding: 10px 20px;">
                <div class="profile-element" uib-dropdown style="cursor:pointer">
                    <img ui-sref="landing" src="img/logo9.png" style="width: 100%;height: 100%;">

                </div>             
            </li>
            <li ng-class="{active: $state.includes('pipelines')}">
                <a href=""><i class="fa fa-table"></i> <span class="nav-label">Perform data analysis</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('pipelines')}">
                    <li ui-sref-active="active"><a ui-sref="pipelines.dna_reseq_home">DNA realignment</a></li>
                    <li ui-sref-active="active"><a ui-sref="pipelines.dna_denovo_home">De novo DNA assembly</a></li>
                    <li ui-sref-active="active"><a ui-sref="pipelines.rna_reseq_home">RNA realignment</a></li>
                    <li ui-sref-active="active"><a ui-sref="pipelines.methylation_home">Epigenomics</a></li>

                </ul>
            </li>
            <li ng-class="{active: $state.includes('storage')}">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Manage files</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('storage')}">
                    <li ui-sref-active="active"><a ui-sref="storage.files">Completed jobs</a></li>
                    <li ui-sref-active="active"><a ui-sref="storage.manager">File manager<span class="pull-right label label-primary">10</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="storage.stats">Statistics</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('commerce')}">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Upgrade account</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('commerce')}">
                    <li ui-sref-active="active"><a ui-sref="commerce.products_grid">Purchase extra options</a></li>
                    <li ui-sref-active="active"><a ui-sref="commerce.cart">Shopping cart</a></li>
                    <li ui-sref-active="active"><a ui-sref="commerce.orders">My orders</a></li>

                </ul>
            </li>
            <li ng-class="{active: $state.includes('custom')}">
                <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">Custom projects</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('custom')}">
                    <li ui-sref-active="active"><a ui-sref="custom.order_form">Order a custom project</a></li>
                    <li ui-sref-active="active"><a ui-sref="custom.orders">My custom projects</a></li>

                </ul>
            </li>
            <li ng-class="{active: $state.includes('mailbox')}" ng-controller="mailboxController as t" ng-init="t.init()">
                <a ui-sref="inbox"><i class="fa fa-envelope"></i> <span class="nav-label">Support </span>
                    <span class="label label-warning pull-right" ng-if="t.numberOfInbox > 0">{{t.numberOfInbox}}</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mailbox')}">
                    <li ui-sref-active="active"><a ui-sref="mailbox.inbox">Mailbox</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('guides')}">
                <a ui-sref="inbox"><i class="fa fa-globe"></i> <span class="nav-label">Guides </span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('guides')}">
                    <li ui-sref-active="active"><a ui-sref="guides.article4">Genomics 101: what is going on in the lab?</a></li>
                    <li ui-sref-active="active"><a ui-sref="guides.article1">FASTA/FASTQ format</a></li>
                    <li ui-sref-active="active"><a ui-sref="guides.article5">What is the reference genome?</a></li>
                </ul>
            </li>
            <!--
            

            <li ng-class="{active: $state.includes('charts')}">
                <a href=""><i class="fa fa-bar-chart-o"></i> <span class="nav-label">{{ 'GRAPHS' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('charts')}">
                    <li ui-sref-active="active"><a ui-sref="charts.flot_chart">Flot Charts</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.rickshaw_chart">Rickshaw Charts</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.c3charts">c3 charts</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.chartjs_chart">Chart.js</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.chartist_chart">Chartist</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.peity_chart">Peity Charts</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.sparkline_chart">Sparkline Charts</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="metrics"><i class="fa fa-pie-chart"></i> <span class="nav-label">{{ 'METRICS' | translate }}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="widgets"><i class="fa fa-flask"></i> <span class="nav-label">{{ 'WIDGETS' | translate }}</span></a>
            </li>

            <li ng-class="{active: $state.includes('app')}">
                <a href=""><i class="fa fa-desktop"></i> <span class="nav-label">{{ 'APPVIEWS' | translate }}</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('app')}">
                    <li ui-sref-active="active"><a ui-sref="app.contacts">Contacts</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.profile">Profile</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.profile_2">Profile v.2</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.contacts_2">Contacts v.2</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.projects">Projects</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.project_detail">Project detail</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.teams_board">Teams board</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.social_feed">Social feed</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.clients">Clients</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.vote_list">Vote list</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.file_manager">File manager</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.calendar">Calendar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.issue_tracker">Issue tracker</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.blog">Blog</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.article">Article</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.timeline">Timeline</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.pin_board">Pin board</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('miscellaneous')}">
                <a href=""><i class="fa fa-globe"></i> <span class="nav-label">{{ 'MISCELLANEOUS' | translate }}</span> <span class="label label-info pull-right">NEW</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('miscellaneous')}">
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.notify">Notification</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.nestable_list">Nestable list</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.agile_board">Agile board</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.timeline_2">Timeline v.2</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.diff">Diff</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.i18support">i18support</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.sweet_alert">Sweet alert</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.idle_timer">Idle timer</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.truncate">Truncate</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.spinners">Spinners</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.live_favicon">Live favicon</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.code_editor">Code editor</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.modal_window">Modal window</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.clipboard">Clipboard</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.forum_view">Forum view</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.validation">Validation</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.tree_view">Tree view</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.loading_buttons">Loading buttons</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.chat_view">Chat view</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.masonry">Masonry</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.toastr">Toastr notification</a></li>
                    <li ui-sref-active="active"><a ui-sref="miscellaneous.tour">Tour</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('ui')}">
                <a href=""><i class="fa fa-flask"></i> <span class="nav-label">{{ 'UIELEMENTS' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('ui')}">
                    <li ui-sref-active="active"><a ui-sref="ui.typography">Typography</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.icons">Icons</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.draggable">Draggable Panels</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.buttons">Buttons</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.video">Video</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.tabs_panels">Panels</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.tabs">Tabs</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.notifications_tooltips">Notifications & Tooltips</a></li>
                    <li ui-sref-active="active"><a ui-sref="ui.badges_labels">Badges, Labels, Progress</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="grid_options"><i class="fa fa-laptop"></i> <span class="nav-label">{{ 'GRIDOPTIONS' | translate }}</span></a>
            </li>
            <li ng-class="{active: $state.includes('tables')}">
                <a href=""><i class="fa fa-table"></i> <span class="nav-label">{{ 'TABLES' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('tables')}">
                    <li ui-sref-active="active"><a ui-sref="tables.static_table">Static Tables</a></li>
                    <li ui-sref-active="active"><a ui-sref="tables.data_tables">Data Tables</a></li>
                    <li ui-sref-active="active"><a ui-sref="tables.foo_table">Foo Table</a></li>
                    <li ui-sref-active="active"><a ui-sref="tables.nggrid">NG Grid</a></li>
                </ul>
            </li> -->

        </ul>

    </div>
</nav>