<div class="row border-bottom" ng-controller="loginController as vm">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
            <!--<li>-->
                <!--<span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>-->
            <!--</li>-->
            <li uib-dropdown>
                <a class="count-info" href uib-dropdown-toggle>
                    My account
                </a>
                <ul uib-dropdown-menu class="animated fadeInRight m-t-xs" >
                    <li><a ui-sref="user.profile">User profile</a></li>
                    <li><a ui-sref="user.subscriptions">Manage my subscriptions</a></li>
                    
                </ul>
            </li>
                       
            <li>
                <button ng-click="vm.logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </button>
            </li>
        </ul>

    </nav>
</div>